@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@if mixin-exists(animation) {

  .animate-show-slow {
    @include animation(showSlow, .3s)
  }

  .animate-slide-left-to-right {
    @include animation(slideLeftToRight, .6s)
  }

  .animate-slide-right-to-left {
    @include animation(slideRightToLeft, .6s)
  }

  @media all and (max-width: $switch-orientation-point-medium) {
    .animate-slide-children-top-to-bottom-if-tablet-or-mobile {

      @for $i from 1 through 12 {
        & > *:nth-child(#{$i}) {
          @include animation(slideTopToBottom, calc-duration($i, 200));
          z-index: 130 - $i;
        }
      }
    }
  }

  @media all and (max-width: $switch-orientation-point-medium - 100 + px) {
    .animate-show-from-right-to-left-if-tablet-or-mobile {
      @include animation(slideRightToLeft, 1s)
    }
  }


  .animate-slide-children-top-to-bottom {

    @for $i from 1 through 12 {
      & > *:nth-child(#{$i}) {
        @include animation(slideTopToBottom, calc-duration($i, 100));
        z-index: 130 - $i;
      }
    }
  }

  .animate-slide-children-left-to-right {

    @for $i from 1 through 12 {
      & > *:nth-child(#{$i}) {
        @include animation(slideLeftToRight, calc-duration($i));
        z-index: 12 - $i;
      }
    }
  }

  .animate-slide-children-right-to-left {

    @for $i from 1 through 12 {
      & > *:nth-child(#{$i}) {
        @include animation(slideRightToLeft, calc-duration($i));
        z-index: 12 - $i;
      }
    }
  }
}

@if mixin-exists(keyframes) {
  @include keyframes(slideRightToLeft) {

    from {
      -webkit-transform: translateX(20%);
    }

    to {
      -webkit-transform: translateX(0%);
    }
  }

  @include keyframes(slideAwayFromRightToLeft) {

    from {
      -webkit-transform: translateX(0%);
    }

    to {
      opacity: 0;
      -webkit-transform: translateX(-100%);
    }
  }


  @include keyframes(slideTopToBottom) {

    from {
      -webkit-transform: translateY(0%);
      opacity: 1;
    }
    to {
      opacity: 0;
      -webkit-transform: translateY(-50%);
    }
  }

  @include keyframes(slideBottomToTop) {

    from {
      -webkit-transform: translateY(0);
    }

    to {
      -webkit-transform: translateY(-100%);
    }
  }

  @include keyframes(slideMenuSlidingRight) {

    from {
      opacity: 0;
      left: -20%;
    }

    to {
      opacity: 1;
      left: 0;
    }
  }

  @include keyframes(slideMenuSlidingLeft) {

    from {
      opacity: 1;
      left: 0;
    }

    to {
      opacity: 0;
      left: -30%;
      z-index: -1;
    }
  }

  @include keyframes(showSlow) {

    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @include keyframes(slideLeftToRight) {

    from {
      -webkit-transform: translateX(-20%);
    }

    to {
      -webkit-transform: translateX(0%);
    }
  }

  @include keyframes(slideLeftToRight) {

    from {
      -webkit-transform: translateX(-20%);
    }

    to {
      -webkit-transform: translateX(0%);
    }
  }
}


