.badge {
  @extend %control;
  cursor: auto;
  padding: .1em .4em;
}

@each $control-kind in $controls-color-list {

  .badge-#{nth($control-kind, 1)} {
    @extend .badge;
    background-color: lighten(nth($control-kind, 2), 5);
    color: $controls-text-color;
  }
}
