.badge {
  @extend %control;
  cursor: auto;
  font-size: $controls-font-size;
  padding: .1em .4em;
}

@each $control-kind in $controls-color-list {
  .badge-#{nth($control-kind, 1)} {
    @extend .badge;
    background-color: lighten(nth($control-kind, 2), 10);
    color: $controls-text-color;
    border-left: $controls-depth solid nth($control-kind, 2);
    border-right: $controls-depth solid nth($control-kind, 2);
  }
}
