@import "controls";

%button {
  @extend %control;
  @if mixin-exists(transition) {
    @include transition(.3s);
  }

  &:hover {
    @if mixin-exists(transition) {
      @include transition(.3s);
    }
  }

  &:active {
    top: 2px;
  }
}

@each $control-kind in $controls-color-list {
  .button-#{nth($control-kind, 1)} {
    @extend %button;
    @include shadow(nth($control-kind, 2));
    background-color: nth($control-kind, 2);
    color: $controls-text-color;

    &:hover {
      @if mixin-exists(hover) {
        @include hover(nth($control-kind, 2));
      }
    }
  }

  .button-tag-#{nth($control-kind, 1)} {
    @extend %button;
    background-color: $controls-text-color;
    color: gray;
    border: 1px #d3d3d3 solid;

    &:hover {
      @if mixin-exists(hover) {
        @include hover(nth($control-kind, 2));
      }
      @if mixin-exists(transition) {
        @include transition(.1s);
      }
      @if mixin-exists(hover) {
        border: 1px hover(nth($control-kind, 2)) solid;
      }
      color: #fff;
    }
  }
}

.button-group {
  font-size: 0;

  & > div {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;

    & > button {
      border-radius: 0;
    }
  }

  & > div:first-child button {
    border-top-left-radius: $controls-border-radius;
    border-bottom-left-radius: $controls-border-radius;
  }

  & > div:last-child button {
    border-top-right-radius: $controls-border-radius;
    border-bottom-right-radius: $controls-border-radius;
  }
}

.button-iconed {
  position: relative;
  padding: 0;
  width: 100%;

  i {
    position: absolute;
    z-index: 10;
    top: .4em;
    left: .3em;
    font-size: 1.5em;
  }

  & input {
    padding-left: 3.5em;
  }
}