@import "mixins";
@import "controls";

%button {
  @extend %control;
  @if mixin-exists(transition) {
    @include transition(.3s);
  }

  &:hover {
    @if mixin-exists(transition) {
      @include transition(.3s);
    }
  }

  &:active {
    top: 2px;
  }
}

@each $attr, $val in $colors {
  .button-#{$attr} {
    @extend %button;
    @include shadow($val);
    background-color: #{$val};
    color: $controls-text-color;

    &:hover {
      background-color: lighten($val, 5);
    }
  }

  .button-tag-#{$attr} {
    @extend %button;
    background-color: $text-color;
    color: gray;
    border: 1px #d3d3d3 solid;

    &:hover {
      @if mixin-exists(hover) {
        @include hover($val);
      }
      @if mixin-exists(transition) {
        @include transition(.1s);
      }
      @if mixin-exists(hover) {
        border: 1px hover($val) solid;
      }
      color: #fff;
    }
  }
}

.button-group {
  font-size: 0;
  white-space: nowrap;

  & > div {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;

    & > button {
      border-radius: 0;
      border-right: 1px solid fade_out(#fff, .9);
    }
  }

  & > div:last-child {
    border-right: 0;
  }

  & > div:first-child button {
    border-top-left-radius: $controls-border-radius;
    border-bottom-left-radius: $controls-border-radius;
  }

  & > div:last-child button {
    border-top-right-radius: $controls-border-radius;
    border-bottom-right-radius: $controls-border-radius;
  }
}

.button-iconed {
  position: relative;
  padding: 0;
  width: 100%;

  i {
    position: absolute;
    z-index: 10;
    top: .4em;
    left: .3em;
    font-size: 1.5em;
  }

  & input {
    padding-left: 3.5em;
  }
}