input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
  transition: all .2s ease;
}

input[type="checkbox"]:checked + label.form-label {

  &:before {
    transition: all .2s ease;
    background-color: $background-color;
  }
}

label.form-label {
  cursor: pointer;
  position: relative;
  top: .5em;
  left: $base-font-size*1.5;


  &:before {
    content: '';
    position: absolute;
    height: $base-font-size;
    width: $base-font-size;
    background-color: $controls-default-color;
    border: 10px solid $controls-default-color;
    border-radius: $controls-border-radius;
    top: -$base-font-size/2;
    left: -$base-font-size*3;
  }

  &:hover:before {
    background-color: $controls-default-color;
    border: 10px solid lighten($controls-default-color, 15%);
  }
}
