input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
  @include transition();
}

input[type="checkbox"]:checked + label.form-label {

  &:before {
    font-family: 'fontello';
    content: '\e838';
    @include transition();
  }
}

label.form-label {
  cursor: pointer;
  position: relative;
  top: .5em;
  left: $base-font-size;
  color: $text-color;


  &:before {
    font-family: 'fontello';
    content: '\e837';
    font-size: $base-font-size * 1.5;
    position: absolute;
    top: -.2em;
    left: -$base-font-size*2;
  }

}
