$controls-color-list: yml('colors');
@each $attr, $val in $controls-color-list {
  .background-#{$attr} {
    background-color: unquote($val);
  }
  .darken-background-#{$attr} {
    background-color: darken(unquote($val), 10);
  }

  .double-darken-background-#{$attr} {
    background-color: darken(unquote($val), 15);
  }

  .lighten-background-#{$attr} {
    background-color: lighten(unquote($val), 10);
  }

  .double-lighten-background-#{$attr} {
    background-color: lighten(unquote($val), 15);
  }

  .#{$attr} {
    color: unquote($val) !important;
  }

  .darken-#{$attr} {
    color: darken(unquote($val), 10) !important;
  }

  .lighten-#{$attr} {
    color: lighten(unquote($val), 10) !important;
  }

  .border-bottom-#{$attr} {
    border-bottom: 1px solid unquote($val);
  }

  .hover-#{$attr} {

    &:hover {
      @if mixin-exists(transition) {
        @include transition(.1s);
      }
      color: unquote($val) !important;
    }
  }
}

.light {
  color: unquote(yml('colors/light'));
}

.background-color {
  background-color: unquote(yml('options/background-color')) !important;
}

.controls-text-color {
  color: unquote(yml('controls/controls-text-color')) !important;
}

.background-controls-text-color {
  background-color: yml('controls/controls-text-color') !important;
}

.lighten-text {
  color: lighten(yml('controls/controls-text-color'), 25) !important;
}

.double-lighten-text {
  color: lighten(yml('controls/controls-text-color'), 45) !important;
}

.darken-text {
  color: darken(unquote(yml('options/text-color')), 25) !important;
}

.double-darken-text {
  color: darken(unquote(yml('options/text-color')), 45) !important;
}

.text-color {
  color: yml('options/text-color') !important;
}

.lighten-background {
  background-color: lighten(unquote(yml('options/background-color')), 5) !important;
}

.double-lighten-background {
  background-color: lighten(unquote(yml('options/background-color')), 10) !important;
}

.darken-background {
  background-color: darken(unquote(yml('options/background-color')), 5) !important;
}

.double-darken-background {
  background-color: darken(unquote(yml('options/background-color')), 10) !important;
}
