$controls-color-list: (
        success $success,
        warning $warning,
        info $info,
        default $controls-default-color
);

%control {
  position: relative;
  border-radius: $controls-border-radius;
  cursor: pointer;
  border: 0;
  width: 100%;
  outline: none;
  white-space: nowrap;
  line-height: 1em;
}
