.dropdown-menu {
  position: relative;
  cursor: pointer;
  display: inline-block;

  & > a {
    &:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      right: -$controls-icon-size;
      top: 50%;
      margin-top: -$controls-icon-size/3;
      border-top: $controls-icon-size/3 solid transparent;
      border-bottom: $controls-icon-size/3 solid transparent;
      border-left: $controls-icon-size/3 solid $controls-default-color;
      pointer-events: none;
    }
  }

  ul {
    opacity: 0;
    list-style: none;
    position: absolute;
    top: -50%;
    z-index: -1;
    background-color: fade-out(darken($controls-default-color, 20), .05);
    left: -50%;
    white-space: nowrap;
    border-radius: $controls-border-radius;
    padding: $base-font-size 0;

    li {
      margin: 0;
      display: block;
      cursor: pointer;
      padding: $base-font-size $base-font-size*4;
      transition: all .2s ease;

      &:hover {
        background-color: fade-out(darken($controls-default-color, 17), .05);
        transition: all .2s ease;
      }

      &:active {
        background-color: fade-out(darken($background-color, 5), .8);
        transition: all .2s ease;
      }

      a {

        &:hover {
          border: 0;
        }
      }
    }
  }
}

.dropdown-menu.active {

  ul {
    -webkit-animation-name: showMenu;
    -webkit-animation-duration: .3s;
    -webkit-animation-fill-mode: forwards;
    z-index: 10;
  }
}

@-webkit-keyframes showMenu {

  from  {
    -webkit-transform: translateY(20%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.dropdown {
  @extend %control;

  div {
    width: 100%;
    padding: $controls-padding $controls-padding*5 $controls-padding $controls-padding;
    font-size: $controls-font-size;
    font-family: $main-font;
    display: inline-block;
  }

  ul {
    width: 100%;
    position: absolute;
    border-radius: 0 0 $controls-border-radius $controls-border-radius;
    top: 100%;
    margin: 0;
    z-index: 2;
    opacity: 0;
    list-style: none;
    padding: $controls-font-size 0 $controls-font-size 0; // padding for the whole list
    white-space: nowrap;
    pointer-events: none;

    a {
      text-decoration: none;
      color: inherit;
      pointer-events: none;
    }

    li {
      padding: .5em 2em .5em 2em; // padding for each item
      cursor: pointer;
      transition: all .2s ease;

      &:hover {
        transition: all .2s ease;
        background-color: $hover;
      }

      &:active {
        transition: all .2s ease;
        background-color: $active;
      }

      i {
        padding: 0 1em 0 0;
      }
    }
  }

  &:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: $controls-icon-size;
    top: 50%;
    margin-top: -$controls-icon-size/3;
    border-top: $controls-icon-size/3 solid transparent;
    border-bottom: $controls-icon-size/3 solid transparent;
    border-left: $controls-icon-size/3 solid $controls-text-color;
    pointer-events: none;
  }

  &:before {
    transition: all .3s ease;
    content: "";
    width: $controls-icon-size*2.5;
    height: 100%;
    position: absolute;
    border-radius: $controls-border-radius;
    right: 0;
    top: 0;
    pointer-events: none;
  }

  &:hover:before {
    transition: all .3s ease;
  }
}

.dropdown.active {
  border-radius: $controls-border-radius $controls-border-radius 0 0;

  &:after {
    margin-top: -$controls-icon-size/4;
    border-left: $controls-icon-size/3 solid transparent;
    border-right: $controls-icon-size/3 solid transparent;
    border-top: $controls-icon-size/3 solid $controls-text-color;
  }

  ul {
    opacity: 1;
    pointer-events: auto;
  }
}

@each $control-kind in $controls-color-list {
  .dropdown-#{nth($control-kind, 1)} {
    @extend .dropdown;
    background-color: nth($control-kind, 2);
    border-bottom: $controls-depth solid darken(nth($control-kind, 2), 15%);
    color: $controls-text-color;

    ul {
      background-color: #{nth($control-kind, 2)};
      border-bottom: $controls-depth solid darken(nth($control-kind, 2), 15%);

      li {

        &:hover {
          background-color: lighten(nth($control-kind, 2), 5%);
        }

        &:active {
          background-color: lighten(nth($control-kind, 2), 10%);
        }
      }
    }

    &:before {
      background-color: lighten(nth($control-kind, 2), 5%);
    }

    &:hover:before {
      background-color: lighten(nth($control-kind, 2), 10%);
    }
 }
}