$controls-icon-size: 1.3em;

.dropdown-menu {
  position: relative;
  cursor: pointer;
  display: inline-block;

  & > a {
    &:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      right: -$controls-icon-size;
      top: 50%;
      margin-top: -$controls-icon-size/3;
      border-top: $controls-icon-size/3 solid transparent;
      border-bottom: $controls-icon-size/3 solid transparent;
    }
  }

  ul {
    opacity: 0;
    list-style: none;
    position: absolute;
    top: -50%;
    z-index: -1;
    display: none;
    left: -50%;
    white-space: nowrap;
    border-radius: $controls-border-radius;
    padding: 0 0 $base-font-size 0;
    color: $controls-text-color;

    li {
      margin: 0;
      display: block;
      cursor: pointer;
      padding: 1em 4em;
      transition: all .2s ease;

      &:hover {
        transition: all .2s ease;
      }

      &:active {
        transition: all .2s ease;
      }

      a {

        &:hover {
          border: 0;
        }
      }

      i {
        padding: 0 $base-font-size 0 0;
      }
    }

    li:not(.item-header):first-child,
    li.item-header:first-child + li {
      margin-top: $base-font-size;
    }
  }
}

.dropdown-menu.active {

  ul {
    display: block;
    -webkit-animation-name: showMenu;
    -webkit-animation-duration: .3s;
    -webkit-animation-fill-mode: forwards;
    z-index: 100;
  }
}

@-webkit-keyframes showMenu {

  from  {
    -webkit-transform: translateY(20%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@each $control-kind in $controls-color-list {
  .dropdown-menu-#{nth($control-kind, 1)} {
    @extend .dropdown-menu;

    & > a {

      &:after {
        border-left: $controls-icon-size/3 solid lighten(nth($control-kind, 2), 20);
      }
    }

    ul {
      background-color: nth($control-kind, 2);
      @include shadow(nth($control-kind, 2));

      li {

        &:hover {
          @include hover(nth($control-kind, 2));
        }

        &:active {
          @include active(nth($control-kind, 2));
        }
      }

      li.item-header {
        background-color: darken(nth($control-kind, 2), 8);
        border-top-left-radius: $controls-border-radius;
        border-top-right-radius: $controls-border-radius;
        pointer-events: none;
      }
    }
  }
}

.dropdown {
  @extend %control;
  font-size: $base-font-size;

  div {
    padding: $base-font-size/1.2 $base-font-size*6 $base-font-size/1.2 $base-font-size/1.2;
  }

  ul {
    width: 100%;
    padding: .5em 0 .5em 0;
    position: absolute;
    border-radius: 0 0 $controls-border-radius $controls-border-radius;
    top: 100%;
    margin: 0;
    z-index: 2;
    opacity: 0;
    list-style: none;
    white-space: nowrap;
    pointer-events: none;

    a {
      text-decoration: none;
      color: inherit;
      pointer-events: none;
      border: 0;
    }

    li {
      padding: .5em 2em .5em 2em;
      width: 100%;
      margin: 0;
      cursor: pointer;
      transition: all .2s ease;

      &:hover {
        transition: all .2s ease;
      }

      &:active {
        transition: all .2s ease;
      }

      i {
        padding: 0 $base-font-size 0 0;
      }
    }
  }

  &:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -.4em;
    border-top: .4em solid transparent;
    border-bottom: .4em solid transparent;
    border-left: .4em solid $controls-text-color;
    pointer-events: none;
  }

  &:before {
    transition: all .3s ease;
    content: "";
    height: 100%;
    position: absolute;
    border-radius: $controls-border-radius;
    width: 2.6em;
    right: 0;
    top: 0;
    pointer-events: none;
  }

  &:hover:before {
    transition: all .3s ease;
  }
}

.dropdown-small {
  @extend .dropdown;
  font-size: $base-font-size/1.5;

  div {
    padding: $base-font-size/5 $base-font-size*5 $base-font-size/5 $base-font-size/2;
  }
}

.dropdown-medium {
  @extend .dropdown;
  font-size: $base-font-size/1.2;

  div {
    padding: $base-font-size/3 $base-font-size*4 $base-font-size/3 $base-font-size/3;
  }
}

.dropdown.active {
  border-radius: $controls-border-radius $controls-border-radius 0 0;

  &:after {
    margin-top: -.2em;
    border-left: .4em solid transparent;
    border-right: .4em solid transparent;
    border-top: .4em solid $controls-text-color;
  }

  ul {
    opacity: 1;
    pointer-events: auto;
  }
}

@each $control-kind in $controls-color-list {
  .dropdown-#{nth($control-kind, 1)} {
    @extend .dropdown;
    @include shadow(nth($control-kind, 2));
    background-color: nth($control-kind, 2);
    color: $controls-text-color;

    ul {
      background-color: #{nth($control-kind, 2)};
      @include shadow(nth($control-kind, 2));

      li {

        &:hover {
          @include hover(nth($control-kind, 2));
        }

        &:active {
          @include active(nth($control-kind, 2));
        }
      }
    }

    &:before {
      background-color: lighten(nth($control-kind, 2), 5%);
    }

    &:hover:before {
      background-color: lighten(nth($control-kind, 2), 10%);
    }
 }
}
