@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,cyrillic);

@font-face {
  font-family: 'Fira-Regular';
  src: url('http://img.teamed.io/fonts/fira/FiraSansOT-Regular.otf')
  format('opentype');
}

@font-face {
  font-family: 'Fira-Light';
  src: url('http://img.teamed.io/fonts/fira/FiraSansOT-Light.otf')
  format('opentype');
}

@font-face {
  font-family: 'Aller-Regular';
  src: url('http://img.twentytags.com/fonts/Aller/Aller-Rg.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Aller-Light';
  src: url('http://img.twentytags.com/fonts/Aller/Aller-Lt.ttf')
  format('truetype');
}
