@import "mixins";

@each $id, $font in $fonts {
  @each $key, $value in $font {
    @if $key == "url" {
      @import url("#{$value}");
    }
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  @extend .font-main;
  background: $background-color;
  color: $text-color;
  font-size: $base-font-size;

  &.hidden {
    overflow-x: hidden;
  }
}

img {
  vertical-align: middle;
  max-width: 100%;
}