.text-field {
  border: 0;
  padding: $controls-padding;
  font-size: inherit;
  border-radius: $controls-border-radius;
  outline: none;
  color: darken($controls-default-color, 20%);
  background-color: $controls-default-color;
  border-bottom: $controls-depth solid darken($controls-default-color, 18%);
}

::-webkit-input-placeholder {
  color: $background-color;
  text-align: center;
}

::-moz-placeholder {
  text-align: center;
  color: $background-color;
}

:-ms-input-placeholder {
  text-align: center;
  color: $background-color;
}

input:-moz-placeholder {
  text-align: center;
  color: $background-color;
}