.text-field {
  @extend %control;
  color: darken($controls-default-color, 20);
  background-color: $controls-default-color;
  //border-bottom: $controls-depth solid darken($controls-default-color, 18);
  transition: all .3s ease;
  cursor: text;
  text-align: center;
  font-size: $base-font-size;
  padding: $base-font-size/1.2 $base-font-size/1.2 $base-font-size/1.2 $base-font-size/1.2;

  &:hover {
    transition: all .3s ease;
    background-color: lighten($controls-default-color, 1);
  }

  &:focus {
    transition: all .3s ease;
    background-color: lighten($controls-default-color, 5);
  }
}

::-webkit-input-placeholder {
  color: $background-color;
  text-align: center;
}

::-moz-placeholder {
  text-align: center;
  color: $background-color;
}

:-ms-input-placeholder {
  text-align: center;
  color: $background-color;
}