.container {
  margin: 0 auto;
  position: relative;
  z-index: 1000; // todo: need to check what's going on here
  padding: .5em;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

%span-column {
  float: left;
  vertical-align: top;
  padding: .5em;
}

@for $i from 1 through 12 {
  .span#{$i} {
    @extend %span-column;
    @include transition();
    width: calc(100%/12 * #{$i});
    width: -webkit-calc(100%/12 * #{$i});
    width: -moz-calc(100%/12 * #{$i});

    @media all and (max-width: $switch-orientation-point-mobile) {
      @include transition();
      width: 100%;
    }
  }
}

%column-container {
  margin: 0 auto;
  box-sizing: border-box;

  & > * {
    margin: 0;
    padding: 1em;
    float: left;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@for $i from 1 through 12 {
  .column#{$i} {
    @extend %column-container;

    & > div {
      width: calc(100% / #{$i});
      width: -webkit-calc(100% / #{$i});
      width: -moz-calc(100% / #{$i});
      @include transition();

      @media all and (max-width: $switch-orientation-point-mobile) {
        @include transition();
        width: 100%;
      }
    }
  }
}

@for $i from 1 through 5 {
  .shift#{$i} {
    width: calc(100% - (100%/12 * #{$i})*2);
    width: -moz-calc(100% - (100%/12 * #{$i})*2);
    width: -webkit-calc(100% - (100%/12 * #{$i})*2);
    transition: all .3s ease;

    @media all and (max-width: $switch-orientation-point-medium) {
      transition: all .3s ease;
      width: 100%;
    }
  }
}

@for $i from 1 through 10 {
  .unit#{$i}0 {
    @extend %span-column;
    width: #{$i}0 * 1%;

    @media all and (max-width: $switch-orientation-point-medium) {
      @include transition();
      width: 100%;
    }
  }
}


.mobile-only {
  display: none;

  @media all and (max-width: $switch-orientation-point-mobile) {
    display: inherit;
    @include transition();
  }
}

.desktop-only {
  display: inherit;

  @media all and (max-width: $switch-orientation-point-mobile) {
    display: none;
  }
}

