.container {
  margin: 0 auto;
  position: relative;
  z-index: 1000; // todo: need to check what's going on here

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

%span-column {
  float: left;
  vertical-align: top;
  padding: .5em;
}

@for $i from 1 through 12 {
  .span#{$i} {
    @extend %span-column;
    @include transition();
    @include calc-prefixed(width, 100%/12 * $i);

    @media all and (max-width: $switch-orientation-point-mobile) {
      @include transition();
      width: 100%;
    }
  }

  .mobile-span#{$i} {
    @extend %span-column;
    @include transition();
    @include calc-prefixed(width, 100%/12 * $i);
  }
}

%column-container {
  margin: 0 auto;
  box-sizing: border-box;

  & > * {
    margin: 0;
    padding: 1em;
    float: left;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@for $i from 1 through 12 {
  .column#{$i} {
    @extend %column-container;

    & > * {
      @include calc-prefixed(width, 100% / $i);
      @include transition();

      @media all and (max-width: $switch-orientation-point-mobile) {
        @include transition();
        width: 100%;
      }
    }
  }
}

@for $i from 1 through 5 {
  .shift#{$i} {
    @include calc-prefixed(width, 100% - (100%/12 * $i)*2);
    @include transition();

    @media all and (max-width: $switch-orientation-point-medium) {
      @include transition();
      width: 100%;
    }
  }
}

$i: 5;
@while $i < 105 {
  .unit#{$i} {
    @extend %span-column;
    @include calc-prefixed(width, $i * 1%);

    @media all and (max-width: $switch-orientation-point-mobile) {
      @include transition();
      width: 100%;
    }
  }
  $i: $i + 5;
}


.mobile-only {
  display: none;

  @media all and (max-width: $switch-orientation-point-mobile) {
    display: inherit;
    @include transition();
  }
}

.desktop-only {
  display: inherit;

  @media all and (max-width: $switch-orientation-point-medium) {
    display: none;
  }

  @media all and (max-width: $switch-orientation-point-mobile) {
    display: none;
  }
}

.mobile-and-medium-only {
  display: none;

  @media all and (max-width: $switch-orientation-point-medium) {
    display: inherit;
    @include transition();
  }

  @media all and (max-width: $switch-orientation-point-mobile) {
    display: inherit;
    @include transition();
  }
}

