.container {

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

%span-column {
  float: left;
  vertical-align: top;
  padding: .5em;
}

@for $i from 1 through 12 {
  .span#{$i} {
    @extend %span-column;
    width: calc(100%/12 * #{$i});
    transition: all .3s ease;

    @media all and (max-width: $switch-orientation-point-mobile) {
      transition: all .3s ease;
      width: 100%;
    }
  }
}

%column-container {
  margin: 0 auto;
  box-sizing: border-box;

  & > div {
    margin: 0;
    padding: 1em;
    float: left;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@for $i from 1 through 12 {
  .column#{$i} {
    @extend %column-container;

    & > div {
      width: calc(100% / #{$i});
      transition: all .3s ease;

      @media all and (max-width: $switch-orientation-point-mobile) {
        transition: all .3s ease;
        width: 100%;
      }
    }
  }
}

@for $i from 1 through 5 {
  .shift#{$i} {
    width: calc(100% - (100%/12 * #{$i})*2);
    transition: all .3s ease;

    @media all and (max-width: $switch-orientation-point-medium) {
      transition: all .3s ease;
      width: 100%;
    }
  }
}
