.menu {
  list-style: none;
  @include transition();
  position: relative; // for animation
  pointer-events: none;

  li {
    pointer-events: auto;
    position: relative; // for animation
    cursor: pointer;
    display: inline-block;
    margin: 0 $base-font-size*2;
    @include transition();

    @media all and (max-width: $switch-orientation-point-mobile) {
      @include transition();
      display: block;
      margin: $base-font-size*2 0;
    }

    a {
      text-decoration: none;
      color: inherit;
      border: 0;

      &:hover {
        border-bottom: 2px solid;
      }
    }
  }
}

.menu-vertical {
  @extend .menu;

  @media all and (max-width: $switch-orientation-point-medium) {
    text-align: center;
  }


  li {
    display: block;
    margin: 0;
  }
}

.menu-vertical-spread {
  @extend .menu-vertical;

  li {
    padding: $base-font-size 0 $base-font-size 0;
  }
}

.icon-menu {
  position: fixed;
  top: 0;
  left: 0;
  list-style: none;
  height: 100%;
  overflow-y: scroll;
  z-index: 1000011;

  li {
    cursor: pointer;
    @include transition();

    &:hover {
      @include transition();
      background-color: darken($background-color, 5);
    }

    a {
      text-decoration: none;
      color: inherit;
      border: 0;
    }
  }
}

.menu-sliding {
  @extend .menu-vertical;
  @include transition(.1s);
  position: fixed;
  top: 0;
  opacity: 0;
  display: none;
  left: -100%;
  z-index: 100001;
  height: 100%;
//  width: 350px;

  li {
    padding: $base-font-size $base-font-size*4;
    cursor: pointer;

    &:hover {
      @include hover(lighten(fade-out($controls-default-color, .7), 20));
    }

    &:active {
      @include active(lighten(fade-out($controls-default-color, .7), 20));
    }

    i {
      padding: 0 1em 0 0;
      font-size: 1.5em;
    }
  }
}

.menu-sliding.active {
  @include transition(.1s);
  left: 0;
  display: block;
  opacity: 1;
}

@each $control-kind in $controls-color-list {
  li.item-#{nth($control-kind, 1)} {
    border-left: $controls-depth*2 solid nth($control-kind, 2);
  }
}

li.item-no-hover {
  cursor: default;

  &:hover,
  &:active {
    background-color: transparent;
  }
}