.menu {
  @include transition();
  list-style: none;
  position: relative; // for animation
  pointer-events: none;

  li {
    @include transition();
    pointer-events: auto;
    position: relative; // for animation
    cursor: pointer;
    display: inline-block;
    margin: 0 $base-font-size*2;

    @media all and (max-width: $switch-orientation-point-mobile) {
      @include transition();
      display: block;
      margin: $base-font-size*2 0;
    }

    a {
      text-decoration: none;
      color: inherit;
      border: 0;

      &:hover {
        border-bottom: 2px solid;
      }
    }
  }
}

.menu-vertical {
  @extend .menu;

//  @media all and (max-width: $switch-orientation-point-medium) {
//    text-align: center;
//  }


  li {
    display: block;
    margin: 0;
  }
}

.menu-vertical-spread {
  @extend .menu-vertical;

  li {
    padding: $base-font-size 0 $base-font-size 0;
  }
}

.menu-vertical-tight {
  @extend .menu-vertical;

  li {
    padding: $base-font-size/2 $base-font-size $base-font-size/2 $base-font-size;
  }
}


%menu-icon {
  @include transition();
  position: fixed;
  top: 0;
  left: 0;
  list-style: none;
  height: 100%;
  z-index: 1000011;

  li {
    cursor: pointer;
    @include transition();

    &:hover {
      @include transition();
    }

    a {
      text-decoration: none;
      color: inherit;
      border: 0;
    }
  }

  &.menu-icon-slide-right {
    @include transition();
    left: $menu-aside-width;
  }
}

@each $control-kind in $controls-color-list {
  .menu-icon-#{nth($control-kind, 1)} {
    @extend %menu-icon;

    li {

      &:hover {
        @include hover(nth($control-kind, 2));
      }
    }
  }
}

.menu-aside {
  @extend .menu-vertical;
  @include transition();
  position: fixed;
  top: 0;
  left: -$menu-aside-width;
  z-index: 100001;
  height: 100%;
  width: $menu-aside-width;

  li {
//    padding: $base-font-size/2;
    cursor: pointer;

    &:hover {
      @include hover(lighten(fade-out($controls-default-color, .7), 20));
    }

    &:active {
      @include active(lighten(fade-out($controls-default-color, .7), 20));
    }

    i {
      padding: 0 1em 0 0;
    }
  }

  &.active {
    @include transition();
    left: 0;
    opacity: 1;
    display: block;
  }
}


@each $control-kind in $controls-color-list {

  li.item-#{nth($control-kind, 1)} {
    border-left: $controls-depth*2 solid nth($control-kind, 2);
  }
}

li.item-no-hover {
  cursor: default;

  &:hover,
  &:active {
    background-color: transparent;
  }
}

.page-container {
  @include transition();
  position: relative;
  overflow-x: hidden;
  left: 0;
  top: 0;

  &.page-container-slide-right {
    @include transition();
    left: $menu-aside-width;
  }
}

.mobile-menu {
  position: fixed;
  width: 100%;
  z-index: 1000010;
  height: 75px;
}