@function calc-duration($n, $duration: 400) {
  @return $n * $duration + ms;
}

@function hover($col) {
  @return darken(unquote($col), 15)
}

@function dark_it($col) {
  @return darken(unquote($col), 15)
}


@mixin clearfix() {

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin main-font() {
  font-family: yml('fonts/main-font-family');
  font-weight: yml('fonts/main-font-weight');
}

@mixin h-font() {
  font-family: yml('fonts/h-font-family');
  font-weight: yml('fonts/h-font-weight');
}

@mixin hover($col) {
  background-color: darken($col, 15);
}


@mixin active($color) {
  background-color: darken($color, 10);
}

@mixin shadow($col, $depth: yml('controls/controls-depth')) {
  border-bottom: $depth solid dark_it($col);
}

@mixin transition($duration: .3s) {
  transition: all $duration ease !important;
  -moz-transition: all $duration ease !important;
  -o-transition: all $duration ease !important;
  -webkit-transition: all $duration ease !important;
}

@mixin calc-prefixed($expression, $value, $additional: "") {
  #{$expression}: -webkit-calc(#{$value}) #{$additional};
  #{$expression}: -moz-calc(#{$value}) #{$additional};
  #{$expression}: -o-calc(#{$value}) #{$additional};
  #{$expression}: calc(#{$value}) #{$additional};
}

@mixin animation($name, $duration: .3s, $delay: 0s) {
  -webkit-animation-name: $name;
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: $name;
  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-fill-mode: forwards;
  -o-animation-name: $name;
  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-fill-mode: forwards;
  animation-name: $name;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-fill-mode: forwards;

}

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}