@mixin clearfix() {

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin main-font() {
  font-family: $main-font;
  font-weight: 300;
}

@mixin h-font() {
  font-family: $h-font;
  font-weight: 300;
}

@mixin hover($color) {
  background-color: darken($color, 5);
}

@function hover($color) {
  @return darken($color, 5);
}

@mixin active($color) {
  background-color: darken($color, 10);
}

@mixin shadow($color, $depth: $controls-depth) {
  border-bottom: $depth solid darken($color, 5);
}

@mixin transition($duration: .3s) {
  transition: all $duration ease !important;
  -moz-transition: all $duration ease !important;
  -o-transition: all $duration ease !important;
  -webkit-transition: all $duration ease !important;
}

@function calc-duration($n, $duration: 400) {
  @return $n * $duration + ms;
}

@mixin calc-prefixed($expression, $value, $additional: "") {
  #{$expression}: -webkit-calc(#{$value}) #{$additional};
  #{$expression}: -moz-calc(#{$value}) #{$additional};
  #{$expression}: -o-calc(#{$value}) #{$additional};
  #{$expression}: calc(#{$value}) #{$additional};
}

@mixin animation($name, $duration: .3s) {
  -webkit-animation-name: $name;
  -webkit-animation-duration: $duration;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: $name;
  -moz-animation-duration: $duration;
  -moz-animation-fill-mode: forwards;
  -o-animation-name: $name;
  -o-animation-duration: $duration;
  -o-animation-fill-mode: forwards;
  animation-name: $name;
  animation-duration: $duration;
  animation-fill-mode: forwards;

}

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}