.tabs {
  margin: 0 auto;
  font-size: 0; // getting rid of spaces between inline-block elements???

  input[type=radio] {
    display: none;

    @for $i from 1 through 12 {

      &:nth-of-type(#{$i}):checked ~ .content .tab:nth-child(#{$i}) {
        display: block;
        @include animation(showSlow, .6s)
      }
    }

    &:checked + label {
      background-color: darken($controls-default-color, 10);
    }
  }

  label.tab-label {
    cursor: pointer;
    display: inline-block;
    border-radius: 0;

    &:first-of-type {
      border-top-left-radius: $controls-border-radius;
    }

    &:last-of-type {
      border-top-right-radius: $controls-border-radius;
    }

    &:last-of-type:after {
      content: "";
      display: block;
      clear: both;
    }


    &:hover {
      background-color: darken($controls-default-color, 10);
      @include transition();
    }
  }

  @for $t from 1 through 12 {

    label.tab#{$t}0 {
      width: #{$t}0 * 1%;
    }
  }

  .tab {
    display: none;
  }

  & > * {
    font-size: $base-font-size;
  }
}
