table {
  @include main-font();
  width: 100%;
  border-spacing: 0;
  font-size: $base-font-size;
  text-align: left;

  thead {
   // background-color: darken($background-color, 3);

    th {
      @include h-font();
      font-weight: 100;
      font-size: $base-font-size;
      color: lighten($text-color, 20);
      border-bottom: 1px solid darken($background-color, 10);
    }

    th:first-child {
      border-top-left-radius: $controls-border-radius;
    }

    th:last-child {
      border-top-right-radius: $controls-border-radius;
    }
  }

  td,
  th {
    padding: $base-font-size/1.2;
  }

  tbody {

    tr:nth-child(odd) {
//      background-color: darken($background-color, 2);
    }

    tr:nth-child(even) {
  //    background-color: darken($background-color, 1);
    }

    tr:last-child > td:first-child {
      border-bottom-left-radius: $controls-border-radius;
//      @include shadow($background-color);
    }

    tr:last-child > td {
//      @include shadow($background-color);
    }

    tr:last-child > td:last-child {
      border-bottom-right-radius: $controls-border-radius;
    }

    tr.inactive {

      td {
        color: darken($background-color, 15) !important;
      }
    }
  }
}