%tooltip {
  position: relative;
  z-index: 10001;

  &:hover:before {
    @include animation(showSlow);
  }

  &:before {
    opacity: 0;
    content: attr(tip);
    position: absolute;
    white-space: nowrap;
    padding: $base-font-size;
    border-radius: $controls-border-radius;
  }
}

@each $control-kind in $controls-color-list {
  .tooltip-#{nth($control-kind, 1)} {
    @extend %tooltip;

    &:before {
      background-color: fade-out(nth($control-kind, 2), .2);
      color: $controls-text-color;
    }
  }
}

.tooltip-bottom {
  @extend %tooltip;

  &:before {
    top: 150%;
    left: 0;
  }
}

.tooltip-top {
  @extend %tooltip;

  &:before {
    top: -120%;
    left: 0;
  }
}

.tooltip-right {
  @extend %tooltip;

  &:before {
    top: -50%;
    left: 120%;
  }
}

