@mixin hover($color) {
  background-color: darken($color, 5);
}

@mixin active($color) {
  background-color: darken($color, 10);
}

@mixin shadow($color) {
  border-bottom: $controls-depth solid darken($color, 15);
}

@mixin transition() {
  transition: all .3s ease;
}