@import "variables";
@import "mixins";

.left {
  text-align: left;
}

.right{
  text-align: right;
}

.center {
  text-align: center;
}

.base {
  font-size: $base-font-size !important;
}

.large {
  font-size: $base-font-size*3 !important;
}

.big {
  font-size: $base-font-size*2 !important;
}

.medium {
  font-size: $base-font-size*1.3 !important;
}

.small {
  font-size: $base-font-size*0.8 !important;
}

.tight {
  letter-spacing: -.1em;
}

.spread {
  letter-spacing: .3em;
}

.upper {
  text-transform: uppercase !important;
}

.lower {
  text-transform: lowercase !important;
}

.capitalize {
  text-transform: capitalize !important;
}

.no-wrap {
  white-space: nowrap !important;
}

.no-underline {

  &:hover {
    border: 0;
    text-decoration: none;
  }
}

p {
  padding: $base-font-size/2 0;
  margin: $base-font-size 0;
}


h1,
h2,
h3,
h4,
h5 {
  @include h-font();
  padding: $base-font-size 0;
}


.round-borders {
  border-radius: $controls-border-radius !important;
}

.no-round-borders {
  border-radius: 0 !important;
}

.no-transition {
  @include transition(0s);
}

.spread-lines {
  line-height: $base-font-size*1.5;
}