.left {
  text-align: left;
}

.right{
  text-align: right;
}

.center {
  text-align: center;
}

.large {
  font-size: $base-font-size*5;
  line-height: $base-font-size*4
}

.big {
  font-size: $base-font-size*2;
  line-height: $base-font-size*2.2;
}

.medium {
  font-size: $base-font-size*1.5;
  line-height: $base-font-size*1.7;
}

.standard {
  font-size: $base-font-size;
  line-height: $base-font-size*1.1;
}

.small {
  font-size: $base-font-size*0.7;
}

.tight {
  letter-spacing: -.05em;
}

.spread {
  letter-spacing: .05em;
}

.upper {
  text-transform: uppercase;
}

.lighter {
  color: lighten($text-color, 25%);
}

.darker {
  color: darken($text-color, 25%);
}

.bolder {
  font-weight: 600;
}

p {
  margin-top: $base-font-size;
  margin-bottom: $base-font-size;
  line-height: $base-font-size * 1.3;
}

h1,
h2,
h3,
h4,
h5 {
  @include h-font();

  img {
    max-width: $base-font-size*2;
    margin-right: $base-font-size;
  }
}

.lighten-background {
  background-color: $lighten-background-color;
}

.vertical-padding {
  padding-top: 1em;
  padding-bottom: 1em;
}

.vertical-padding-large {
  padding-top: 5em;
  padding-bottom: 5em;
}

.padding-bottom {
  padding-bottom: 1em;
}

.padding-bottom-large {
  padding-bottom: 5em;
}

.padding-top {
  padding-top: 1em;
}

.padding-top-large {
  padding-top: 5em;
}

.margin-bottom {
  margin-bottom: 1em;
}

.margin-top {
  margin-top: 1em;
}

.margin-bottom-large {
  margin-bottom: 5em;
}

.margin-top-large {
  margin-top: 5em;
}

.horizontal-padding {
  padding-right: 1em;
  padding-left: 1em;
}

@each $control-kind in $controls-color-list {
  .background-#{nth($control-kind, 1)} {
    background-color: nth($control-kind, 2);
  }
}

@each $control-kind in $controls-color-list {
  .#{nth($control-kind, 1)} {
    color: nth($control-kind, 2);
  }
}

.background-color {
  background-color: $background-color;
}

.controls-text-color {
  color: $controls-text-color;
}

.code {
 font-family: $code-font;
}