.left {
  text-align: left;
}

.right{
  text-align: right;
}

.center {
  text-align: center;
}

.v-middle {
  vertical-align: baseline;
}

.large {
  font-size: $base-font-size*5;
}

.big {
  font-size: $base-font-size*2;
}

.medium {
  font-size: $base-font-size*1.5;
}

.standard {
  font-size: $base-font-size;
}

.small {
  font-size: $base-font-size/.7;
}

.tight {
  letter-spacing: -.05em;
}

.spread {
  letter-spacing: .05em;
}

.upper {
  text-transform: uppercase;
}

.lighter {
  color: lighten($text-color, 25%);
}

.darker {
  color: darken($text-color, 25%);
}

.bolder {
  font-weight: 600;
}

p {
  margin-top: $base-font-size;
  margin-bottom: $base-font-size;
  line-height: $base-font-size * 1.3;
}

h1,
h2,
h3,
h4,
h5 {
  @include h-font();

  img {
    max-width: $base-font-size*2;
    margin-right: $base-font-size;
  }
}

.lighten-background {
  background-color: $lighten-background-color;
}