.hide-if-wide {
  display: none;

  @media all and (max-width: $switch-orientation-point-medium) {
    display: block;
  }

  @media all and (max-width: $switch-orientation-point-mobile) {
    display: block;
  }
}

.mobile-only {
  display: none;

  @media all and (max-width: $switch-orientation-point-mobile) {
    display: inherit;
    @include transition();
  }
}

.desktop-only {
  display: inherit;

  @media all and (max-width: $switch-orientation-point-medium) {
    display: none;
  }

  @media all and (max-width: $switch-orientation-point-mobile) {
    display: none;
  }
}

.mobile-and-medium-only {
  display: none;

  @media all and (max-width: $switch-orientation-point-medium) {
    display: inherit;
    @include transition();
  }

  @media all and (max-width: $switch-orientation-point-mobile) {
    display: inherit;
    @include transition();
  }
}

.desktop-and-medium-only {
  display: inherit;

  @media all and (max-width: $switch-orientation-point-mobile) {
    display: none;
    @include transition();
  }
}

.center-if-mobile-or-medium {

  @media all and (max-width: $switch-orientation-point-medium) {
    text-align: center !important;
  }

  @media all and (max-width: $switch-orientation-point-mobile) {
    text-align: center !important;
  }
}
