@import "fonts";
@import "variables";
@import "highlight";
@import "layout";
@import "typo";
@import "dropdowns";
@import "inputs";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $background-color;
  @include light-font();
  color: $text-color;
  font-size: $base-font-size;
}

.brand {
  font-family: $brand-font;
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: -.1em;
}

img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}