@import 'variables';
@import 'mixins';
@import 'controls';
@import 'typography';
@import 'animations';
@import 'layouts';
@import 'dropdowns';
@import 'buttons';
@import 'inputs';
@import 'badges';
@import 'checkradios';
@import 'form';
@import 'menus';
@import 'tabs';
@import 'tables';
@import 'modals';
@import 'tooltips';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  background: $background-color;
  @include main-font();
  color: $text-color;
  font-size: $base-font-size;

  &.hidden {
    overflow-x: hidden;
  }
}

img {
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
}


#overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10000;
  background-color: lighten(#000, 10);
  @include transition(.5s);
}

#overlay.active {
  @include transition(.5s);
  display: block;
  opacity: .9;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit !important;

  &:hover {
    border-bottom: 1px dotted;
  }
}

#icon-to-top {
  display: none;
  cursor: pointer;
}