@import 'general';
@import 'paddings';
//@import url('http://localhost:4567/load/mixins');
//@import url('http://localhost:4567/load/colors');
//@import url('http://localhost:4567/load/responsive');

body {
  border-radius: yml(controls/border-radius);
  background-color: yml(options/background-color);
  color: yml(options/text-color);
  padding: yml(options/base-font-size);
}

.code {
  font-family: yml('fonts/code-font-family');
}
