%nav
  %span.logo.bold ACN
  %a{:href => '#'} вход
  %a{:href => '#'} разместить статью
  %a{:href => '#'} как это работает
  %span.gray.bold v.0.1.2
%article
  %h1
    Статья, которая надает вам пощечин и заставит взбодриться заставит взбодриться.
  %p
    %i.fa.fa-facebook-square.gray
    %i.fa.fa-vk.gray
    %i.fa.fa-twitter-square.gray
    %i.fa.fa-ok-square.gray
  %img.poster{:src => 'http://uduba.com/user_data/c6dba97bfbb142c499369a1e44297f1e.jpg'}
  %p
    "Если бы вам удалось надавать под зад человеку, виновному во всех ваших неудачах, вы бу неделю не смогли сидеть"!
    Статья предпринимателя Рэймара Тирадо (Raymmar Tirado), который обладает жаждой знаний и никогда не останавливается на достигнутом.
  %p
    %b Я расскажу вам о том, чему не учат.
    О том, что заставляет вас выйти за пределы обычного существования. Например, переехать от родителей, бросить работу, послать все к чертям и сделать хоть что-то!
  %p
    Опыт, который вы получаете в реальной жизни, выходит далеко за рамки нашей образовательной системы. Практические навыки вы можете развить, только если по-настоящему найдете себя.
  %p
    Когда вы поставите на карту всё или столкнетесь с возможностью провала, тогда и поймете, что опыт — это умения, помноженные на навыки.
  %p
    Эти умения и навыки появятся, только если вы рискнете всем, чтобы сделать что-то по-настоящему крутое. Вы считаете, что уже обладаете нужными навыками и умениями?
  %p
    Вы ошибаетесь!
  %p
    Все, что я хочу сказать: в игре под названием жизнь у вас нет ни малейшего шанса. Почему?
  %ul.numbered.menu.menu-vertical.base.padding-left-medium
    %li Вы мало проигрывали.
    %li Вам комфортно в вашей посредственности, вы даже не хотите напрячься и достигнуть желаемого.
    %li Вы предпочитаете говорить о том, что надо бы выучить новый язык, вместо того, чтобы учить его.
    %li Вы скорее «отсидитесь» или, может быть, сделаете сложную работу завтра.
    %li Вы ненавидите свою работу, но не готовы искать новую.
  %p.author-container
    %img.author{:src => 'http://p.h12.co/avatar/eronkelly'}
    %a{:href => '#'} JackyChun
    %span.orange.bold 5+
    %br
    %a{:href => '#'} еще статьи автора
    %br
    статью прочитали 14,503 раз
  %br
  теги
  %span.tag психология
  %span.tag наука
  %span.tag шутки
  %span.tag цитаты
  %span.tag подборки
  %span.tag самопознание
  %br
%div{:id => "disqus_thread"}
:javascript
    var disqus_shortname = 'acn-content'; // required: replace example with your forum shortname
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
%article.similars
  %ul.similar
    %li
      %img.small-poster{:src => 'http://savepic.su/3921525.jpg'}
      %a.similar-link{:href => '#'} Куда поедем отдыхать?- Ну судя по деньгам... мы нифига не устали!
      Ведь только после этого мы найдем в себе новые силы и сделаем то, о чем давно — давно мечтали.
      .gray 14 коментариев
    %li
      %img.small-poster{:src => 'http://cs618828.vk.me/v618828733/13002/eh2dkpMwZ50.jpg'}
      %a.similar-link{:href => '#'} Полярник Вячеслав Короткий — самый одинокий человек на планете
      Ведь только после этого мы найдем в себе новые силы и сделаем то, о чем давно — давно мечтали.
      .gray 19 коментариев
    %li
      %img.small-poster{:src => 'http://cs616816.vk.me/v616816782/1098a/qfU7Lr6lxHE.jpg'}
      %a.similar-link{:href => '#'} 19 забавных фото ОЧЕНЬ обаятельных медведей
      Ведь только после этого мы найдем в себе новые силы и сделаем то, о чем давно — давно мечтали.
      .gray 24 коментариев
%article.similars
  %ul.similar
    %li
      %img.small-poster{:src => 'http://top.thepo.st/user_data/f7fd0e33993fad064439499de9647291.jpg'}
      %a.similar-link{:href => '#'} Куда поедем отдыхать?- Ну судя по деньгам... мы нифига не устали!
      Ведь только после этого мы найдем в себе новые силы и сделаем то, о чем давно — давно мечтали.
      .gray 14 коментариев
    %li
      %img.small-poster{:src => 'http://top.thepo.st/user_data/69cd385a66c93685a596b65dc2a9ab62.jpg'}
      %a.similar-link{:href => '#'} Полярник Вячеслав Короткий — самый одинокий человек на планете
      Ведь только после этого мы найдем в себе новые силы и сделаем то, о чем давно — давно мечтали.
      .gray 19 коментариев
    %li
      %img.small-poster{:src => 'http://top.thepo.st/user_data/4929b7a16f5593f7ed784efe85d51d57.jpg'}
      %a.similar-link{:href => '#'} 19 забавных фото ОЧЕНЬ обаятельных медведей
      Ведь только после этого мы найдем в себе новые силы и сделаем то, о чем давно — давно мечтали.
      .gray 24 коментариев
