.container.padding-around-medium
  %h1.success.large.bold.upper.spread.no-wrap
    guppy exception
  %p.warning.medium
    = @message + '. '
  %p.default.base
    - if !@more.nil?
      - @more.each do |item|
        = item.to_s
        %br
  %p.base
    - if !@backtrace.nil?
      - @backtrace.split(', ').each do |item|
        = item.to_s
        %br
  %a.green.medium{href: url('/')} please go to main page
-#.container.center.padding-around-large.shift2.tiny-padding-if-mobile.tiny-padding-if-tablet
-#  .tabs.font-code
-#    %input#tab1{type: 'radio', name: 'group', checked: true}
-#    %label.tab40.tab-label.background-default.padding-around-base.light{for: 'tab1'}
-#      %i.fa.fa-css3
-#      %span.hide-if-mobile.hide-if-tablet CSS only tabs
-#    %input#tab2{type: 'radio', name: 'group'}
-#    %label.tab60.tab-label.background-dark.padding-around-base.light{for: 'tab2'}
-#      %i.fa.fa-html5
-#      %span.hide-if-mobile.hide-if-tablet HTML5 only
-#    .content.darken-background-light.dark.left.padding-around-large.round-bottom-borders
-#      .tab.reg
-#        This tab is designed with CSS3 only. No Javascript used. Import tabs to make use of it.
-#        This tab is designed with CSS3 only. No Javascript used. Import tabs to make use of it
-#        %br
-#        %br
-#        %button.button-light.base.padding-around-tiny.dark.f-span4.font-code
-#          %i.fa.fa-check-square-o
-#          check
-#      .tab.reg
-#        This tab is designed with CSS3 only. No Javascript used. Import tabs to make use of it.
-#        This tab is designed with CSS3 only. No Javascript used. Import tabs to make use of it
-#        %br
-#        %br
-#        %button.button-light.base.padding-around-tiny.dark.f-span4.font-code
-#          %i.fa.fa-crosshairs
-#          finish

