.container.padding-around-medium
  %h1.success.large.bold.upper.spread.no-wrap
    guppy exception
  %p.warning.medium
    = @message + '. '
  %p.default.base
    - if !@more.nil?
      - @more.each do |item|
        = item.to_s
        %br
  %p.base
    - if !@backtrace.nil?
      - @backtrace.split(', ').each do |item|
        = item.to_s
        %br
  %a.green.medium{href: url('/')} please go to main page
