.container.center.padding-around-large
  .span8.left
    %span.guppy.red guppy
    %span.guppy.large.red responsive elements
    %p.lighten-red.big Introducing Guppy CSS elements for responsive web design like buttons, badges, animated menus, dropboxes, tabs
  .span4.left.padding-around-large
    %ul.menu-vertical.menu-vertical-spread.guppy.big.blue
      %li.hover-red
        buttons
      %li tabs
      %li menus
      %li layouts
      %li dropdowns
      %li animations
.container

