<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="/xsl/index.xsl" type="text/xsl"?>
<page>
    <title>Elements</title>
    <text>Reusable elements. Just import stylesheets</text>
    <options>
        <item>
            <icon>fa fa-usd</icon>
            <title>Buttons</title>
        </item>
        <item>
            <icon>fa fa-eur</icon>
            <title>Dropdowns</title>
        </item>
    </options>
</page>
