.container.big.center.padding-vertical-base.darken-background
  .container.shift1
    %img{src: url('images/guppy.svg')}
    %p
      %span.upper.large tiny scss modules as a service
      %br
      Import remote modules from your scss script and enjoy
    -#%a.warning.no-underline.hover-green{href: ''}
    -#  modules
    -#%a.warning.no-underline.hover-green{href: ''}
    -#  read docs
    -#%a.warning.no-underline.hover-green{href: ''}
    -#  contribute
    -#%a.warning.no-underline.hover-green{href: ''}
    -#  contacts
    .container.shift1.left
      %ul.no-markers.font-code.medium.dark
        %li
          gem install 'guppy'
        %li
          create _variables.scss in your scss directory
        %li
          sass --watch /your/scss/path/:/your/css/path --require='guppy'
        %li
          link resulting css file to your html and enjoy
  .container.shift2.padding-around-big.base
    %button.button-green.medium.padding-around-base.code.f-span4
      install gem
    %br
    overview
    %a.darken-dark.hover-default{href: 'https://github.com/maxbugaenko/guppy'} example project at Github
.container.shift1
  .span6.padding-around-large
    %h1.green.code SCSS
    Here is how your styles.css will look like. You will have only
    one CSS file.
    %br
    %br
    %pre.highlight
      :preserve
        <span class="red">@import</span> <span class="s2">'responsive'</span>;
        <span class="red">@import</span> <span class="s2">'typography'</span>;
        <span class="red">@import</span> <span class="s2">'paddings'</span>;
        <span class="red">@import</span> <span class="s2">'layouts'</span>;
        <span class="red">@import</span> <span class="s2">'colors'</span>;

        .logo <span class="o">{</span>
          font-size: 3em;
          color: #000;
          font-weight: bold;

          &amp;:hover <span class="o">{</span>
            color: #0000ff;
          <span class="o">}</span>
        <span class="o">}</span>
  .span6.padding-around-large
    %p.medium
      All modules are truely independent from each other. You can import whatever module you need.
    %p.medium
      See full list of modules below. The list is being updated
.container.shift1
  .span6
  .span6.padding-around-large
    %h1.green.code Config
    Here is how your styles.css will look like. You will have only
    one CSS file.
    %br
    %br
    %pre.highlight
      :preserve
        <span class="red">@import</span> <span class="s2">'responsive'</span>;
        <span class="red">@import</span> <span class="s2">'typography'</span>;
        <span class="red">@import</span> <span class="s2">'paddings'</span>;
        <span class="red">@import</span> <span class="s2">'layouts'</span>;
        <span class="red">@import</span> <span class="s2">'colors'</span>;

        .logo <span class="o">{</span>
          font-size: 3em;
          color: #000;
          font-weight: bold;

          &amp;:hover <span class="o">{</span>
            color: #0000ff;
          <span class="o">}</span>
        <span class="o">}</span>
.container.shift1
  .span6.padding-around-large
    %h1.green.code Sinatra
    Here is how your styles.css will look like. You will have only
    one CSS file.
    %br
    %br
    %pre.highlight
      :preserve
        <span class="red">@import</span> <span class="s2">'responsive'</span>;
        <span class="red">@import</span> <span class="s2">'typography'</span>;
        <span class="red">@import</span> <span class="s2">'paddings'</span>;
        <span class="red">@import</span> <span class="s2">'layouts'</span>;
        <span class="red">@import</span> <span class="s2">'colors'</span>;

        .logo <span class="o">{</span>
          font-size: 3em;
          color: #000;
          font-weight: bold;

          &amp;:hover <span class="o">{</span>
            color: #0000ff;
          <span class="o">}</span>
        <span class="o">}</span>
  .span6
.container.center.upper.code
  .span4.medium-if-tablet.medium-if-mobile.double-darken-background
    %p w/us u get 100% satisfaction
  .span4.medium-if-tablet.medium-if-mobile.double-darken-background
    %p we can do all the needful
  .span4.medium-if-tablet.medium-if-mobile.double-darken-background
    %p all garanteed. what u need?
.container.center.upper.code
  .span4.background-red.light
    .big.medium-if-mobile-or-tablet guppy
    %span.tiny.tiny.hide-if-tablet.hide-if-mobile for webdesign
  .span3.lighten-background-info.light
    .big.medium-if-mobile-or-tablet heroku
    %span.tiny.tiny.hide-if-tablet.hide-if-mobile for hosting
  .span2.lighten-background-warning.light
    .big.medium-if-mobile-or-tablet haml
    %span.tiny.tiny.hide-if-tablet.hide-if-mobile for fun
  .span3.background-warning.light
    .big.medium-if-mobile-or-tablet scss
    %span.tiny.tiny.hide-if-tablet.hide-if-mobile for css
.container.center.upper.code
  .span6.show-if-tablet-only.hover-warning-if-mobile.center-if-tablet.center-if-mobile
    .big.medium-if-mobile-or-tablet ruby
    %span.tiny.hide-if-tablet.hide-if-mobile 2.1
  .span5.double-darken-background-info.hide-if-tablet.light
    .big.medium-if-mobile-or-tablet DynamoDB
    %span.tiny.tiny.hide-if-tablet.hide-if-mobile for data
  .span3.double-lighten-background-info.hide-if-tablet.light
    .big.medium-if-mobile-or-tablet sinatra
    %span.tiny.tiny.hide-if-tablet.hide-if-mobile for web
  .span4.darken-background-info.hide-if-tablet.light
    .big.medium-if-mobile-or-tablet github
    %span.tiny.tiny.hide-if-tablet.hide-if-mobile for code
.container.background-red
  .span1
    span1
  .span3
    span3
  .span8
    span8
