<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="/xsl/index.xsl" type="text/xsl"?>
<page>
    <title>Reusable</title>
    <keywords>reusable, flat css framework, flat design, flat css</keywords>
    <description>Flat &amp; responsive CSS framework</description>
    <var><%= var%></var>
    <var2><%= @var2%></var2>
</page>
