.container.center.padding-top-large.padding-horizontal-large
  %p
    %span.guppy.white.animate-show-slow guppy
    %br
    %span.guppy.large.white.animate-show-slow responsive elements
    %p.lighten-brown.big.animate-show-slow Introducing Guppy CSS elements for responsive web design like buttons, badges, animated menus, dropboxes, tabs
.container.padding-bottom-large.center
  .buttoned-field
    %div
      %input.text-field-brown.padding-around-medium.medium{:placeholder => "leave your email"}
    %div
      %button.button-brown.padding-around-medium.medium
        %i.fa.fa-paper-plane.medium
        &#160;
.container.darken-background.padding-around-large.center
  .span6.right.padding-around-medium
    %button.button-modern-brown.f-span4.medium.upper.guppy
      buttons
    %button.button-modern-brown.f-span4.medium.upper.guppy
      tabs
    %button.button-modern-brown.f-span4.medium.upper.guppy
      menus
    %button.button-modern-brown.f-span4.medium.upper.guppy
      layouts
    %button.button-modern-brown.f-span5.medium.upper.guppy
      dropdowns
    %button.button-modern-brown.f-span5.medium.upper.guppy
      animations
    %button.button-modern-brown.f-span5.medium.upper.guppy
      typography
  .span6.left.big.lighten-brown.padding-around-medium
    Introducing Guppy CSS elements for responsive web design like buttons, badges, animated menus, dropboxes, tabs
