.container.padding-horizontal-large.padding-around-medium.center.shift2
  %h1.success.large.bold.upper.spread.no-wrap
    %img{src: url('favicon.ico'), width: '60px'}
    guppy
  .default.medium.padding-horizontal-large easily import and use small awesome pieces of SCSS
  %ul.medium.menu.padding-vertical-medium.upper
    %li
      %a.underlined{href: url('/readme')} readme
    %li
      %a.underlined{href: url('/readme')} contribute
    %li
      %a.underlined{href: url('/readme')} modules
  -#%p
  -#  %a.no-underline{href: 'http://github.com'}
  -#    %i.fa.fa-git-square.big.warning.hover-success
  -#  %a.no-underline{href: 'http://github.com'}
  -#    %i.fa.fa-twitter-square.big.warning.hover-success
  -#%p.padding-vertical-large
  -#  %img{src: url('images/heroku.png'), width: '100px'}
  -#  %img{src: url('images/github.jpeg'), width: '100px'}
  -#  %img{src: url('images/haml.png'), width: '100px'}
  -#  %img{src: url('images/sass.png'), width: '60px'}
  -#  %img{src: url('images/sinatra.png'), width: '100px'}
  -#%h3 variables
  -#%textarea.text-field.f-span12.small{rows: 20}
  -#  $background-color: #fff;
  -#  $controls-depth: 1px;
  -#  $controls-text-color: #fbfbfb;
  -#  $controls-border-radius: 4px;
  -#  $controls-default-color: darken($background-color, 25);
  -#  $success: #fd5559;
  -#  $warning: #4e4e4e;
  -#  $info: lighten(#394e63, 20);
  -#  $info: #4d8cdf;
  -#  $text-color: lighten(#4e4e4e, 20);
  -#  $inputs-background: darken($background-color, 7);
.container.center.padding-around-large.shift1
  .big.no-wrap= "@import url(//guppy.io/module)"
  %p
    this is a basic usage of our modules. here
    %span.green module
    is a scss module that contains various ready to use classes. there are plenty of modules you can take advantage of. check them out
  %ul.menu.medium.green
    %li.default //guppy.io/
    %li
      %a{href: url('/buttons')} buttons
    %li
      %a{href: url('/typography')} typography
    %li
      %a{href: url('/visibility')} visibility
    %li
      %a{href: url('/colors')} colors
    %li
      %a{href: url('/inputs')} inputs
    %li
      %a{href: url('/paddings')} paddings
    %li
      %a{href: url('/layouts')} layouts
    %li
      %a{href: url('/tabs')} tabs
    %li
      %a{href: url('/badges')} badges
    %li
      %a{href: url('/dropdowns')} dropdowns
    %li
      %a{href: url('/menus')} menus
.container.center.padding-around-large.shift1
  %h1 custom configuration
  %p
    create
    %strong.green variables.scss
    file and store on your own web server.
    this file should contain all variables listed
    at the right
  %textarea.text-field.f-span10{rows: 20}
    $switch-orientation-point-medium: "1100px";
    $switch-orientation-point-mobile: "600px";
    $background-color: #fff;
    $controls-depth: 1px;
    $controls-text-color: #fbfbfb;
    $controls-border-radius: 4px;
    $controls-default-color: darken($background-color, 25);
    $success: #fd5559;
    $green: #3688c2;
    $warning: #4e4e4e;
    $info: lighten(#394e63, 20);
    $info: #4d8cdf;
    $text-color: lighten(#4e4e4e, 20);
    $inputs-background: darken($background-color, 7);
    $main-font: monaco;
    $h-font: monaco;
    $base-font-size: 20px;
  %button.button-green.base.padding-around-small.f-span3 configure
.container.shift2.padding-around-large.center
  -#:preserve
  -#  <pre class="highlight default"><code>
  -#    %html
  -#      %head
  -#        %title cool website
  -#        %link<span class="o">{</span>type<span class="o">:</span> <span class="s1">'text/css'</span>,
  -#          href<span class="o">:</span> <span class="s1">'yours.css'</span></span><span class="o">,
  -#          <span class='default'>rel</span><span class="o">:</span> <span class="s1">'stylesheet'</span></span><span class="o">,
  -#        }</span>
  -#        %link<span class="o">{</span>type<span class="o">:</span> <span class="s1">'text/css'</span>,
  -#          href<span class="o">:</span> <span class="s1 success">'//guppy.io/paddings,colors'</span></span><span class="o">,
  -#          <span class='default'>rel</span><span class="o">:</span> <span class="s1">'stylesheet'</span></span><span class="o">,
  -#        }</span>
  -#    %body
  -#      <span class="o warning">=yield</span>
  -#      %footer
  -#  </code></pre>
