%html
  %head
    %title talking
    %meta{:charset => "UTF-8"}
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{:type => "text/css", :href => "../css/pony.css", :rel => "stylesheet"}
    %link{:type => "text/css", :href => "../css/pony-site.css", :rel => "stylesheet"}
    %script{:src => "../js/jquery.js"}
    %script{:src => "../js/pony.js"}
  %body
    =yield
