%html
  %head
    %title GUPPY.IO
    %meta{:charset => "UTF-8"}
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{:type => "text/css", :href => "../css/guppy.css", :rel => "stylesheet"}
    %link{:type => "text/css", :href => "../css/guppy-site.css", :rel => "stylesheet"}
    %link{:type => "text/css", :href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %script{:src => "../js/jquery.js"}
    %script{:src => "../js/pony.js"}
  %body
    =yield
    :javascript
      var url ='#{url('icons/icons.svg')}';
      var c=new XMLHttpRequest(); c.open('GET', url, false); c.setRequestHeader('Content-Type', 'text/xml'); c.send();
      document.body.insertBefore(c.responseXML.firstChild, document.body.firstChild)
