<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="/xsl/teaser.xsl" type="text/xsl"?>
<page>
  <title>Tangle Teaser</title>
  <keywords>tangle teaser</keywords>
  <description>Tangle Teaser paysite</description>
</page>
