.container.center.upper.code
  .span4.background-green.light
    .big.medium-if-mobile-or-tablet css3
    %span.tiny.tiny.hide-if-tablet.hide-if-mobile classes
  .span4.background-warning.light
    .big.medium-if-mobile-or-tablet scss
    %span.tiny.tiny.hide-if-tablet.hide-if-mobile engine
  .span4.background-brown.show-if-tablet-only.hover-warning-if-mobile
    .big.medium-if-mobile-or-tablet ruby
    %span.tiny.hide-if-tablet.hide-if-mobile 2.1
  .span4.lighten-background-info.hide-if-tablet.light
    .big.medium-if-mobile-or-tablet sinatra
    %span.tiny.tiny.hide-if-tablet.hide-if-mobile for ruby
.container.center.upper.code
  .span7.lighten-background-info.light
    .big.medium-if-mobile-or-tablet heroku
    %span.tiny.tiny.hide-if-tablet.hide-if-mobile for hosting
  .span5.lighten-background-warning.light
    .big.medium-if-mobile-or-tablet haml
    %span.tiny.tiny.hide-if-tablet.hide-if-mobile fun
.container.center.upper.border-bottom-browny.code
  .span4.medium-if-tablet.medium-if-mobile.darken-background
    %p w/us u get 100% satisfaction
  .span4.medium-if-tablet.medium-if-mobile.double-darken-background
    %p we can do all the needful
  .span4.medium-if-tablet.medium-if-mobile.double-lighten-background-default
    %p all garanteed. what u need?
.container.big.center.padding-horizontal-medium
  .span6.base-if-tablet.left.center-if-mobile-or-tablet
    %p.code.green
      %a.warning.no-underline.hover-green{href: ''} install gem
      %br
      %a.warning.no-underline.hover-green{href: ''} @import styles
      %br
      %a.warning.no-underline.hover-green{href: ''} classes docs
      %br
      %a.warning.no-underline.hover-green{href: ''} contribute
  .span6.hide-if-mobile.hide-if-tablet.right
    %p
      No need to download CSS
      %br
      No need to setup anything
      %br
      %b Just use Guppy
