@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&subset=latin,cyrillic);
/*$background-color: #2a7ab0;
$controls-depth: 4px;
$controls-text-color: #ecf0f1;
$controls-border-radius: 7px;
$controls-default-color: lighten($background-color, 10);
$success: #c5bf14;
$warning: #ca5656;
$info: #08bf55;
$text-color: #e3ecf2;*/
.animate-show-slow {
  -webkit-animation-name: showSlow;
  -webkit-animation-duration: .3s;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes showSlow {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
.animate-slide-left-to-right {
  -webkit-animation-name: slideLeftToRight;
  -webkit-animation-duration: .6s;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes slideLeftToRight {
  from {
    -webkit-transform: translateX(-20%); }

  to {
    -webkit-transform: translateX(0%); } }
.animate-slide-right-to-left {
  -webkit-animation-name: slideRightToLeft;
  -webkit-animation-duration: .6s;
  -webkit-animation-fill-mode: forwards; }

.animate-slide-children-top-to-bottom > *:nth-child(1) {
  -webkit-animation-name: slideTopToBottom;
  -webkit-animation-duration: 100ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 129; }
.animate-slide-children-top-to-bottom > *:nth-child(2) {
  -webkit-animation-name: slideTopToBottom;
  -webkit-animation-duration: 200ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 128; }
.animate-slide-children-top-to-bottom > *:nth-child(3) {
  -webkit-animation-name: slideTopToBottom;
  -webkit-animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 127; }
.animate-slide-children-top-to-bottom > *:nth-child(4) {
  -webkit-animation-name: slideTopToBottom;
  -webkit-animation-duration: 400ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 126; }
.animate-slide-children-top-to-bottom > *:nth-child(5) {
  -webkit-animation-name: slideTopToBottom;
  -webkit-animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 125; }
.animate-slide-children-top-to-bottom > *:nth-child(6) {
  -webkit-animation-name: slideTopToBottom;
  -webkit-animation-duration: 600ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 124; }
.animate-slide-children-top-to-bottom > *:nth-child(7) {
  -webkit-animation-name: slideTopToBottom;
  -webkit-animation-duration: 700ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 123; }
.animate-slide-children-top-to-bottom > *:nth-child(8) {
  -webkit-animation-name: slideTopToBottom;
  -webkit-animation-duration: 800ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 122; }
.animate-slide-children-top-to-bottom > *:nth-child(9) {
  -webkit-animation-name: slideTopToBottom;
  -webkit-animation-duration: 900ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 121; }
.animate-slide-children-top-to-bottom > *:nth-child(10) {
  -webkit-animation-name: slideTopToBottom;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 120; }
.animate-slide-children-top-to-bottom > *:nth-child(11) {
  -webkit-animation-name: slideTopToBottom;
  -webkit-animation-duration: 1100ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 119; }
.animate-slide-children-top-to-bottom > *:nth-child(12) {
  -webkit-animation-name: slideTopToBottom;
  -webkit-animation-duration: 1200ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 118; }

.animate-slide-children-left-to-right > *:nth-child(1) {
  -webkit-animation-name: slideLeftToRight;
  -webkit-animation-duration: 400ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 11; }
.animate-slide-children-left-to-right > *:nth-child(2) {
  -webkit-animation-name: slideLeftToRight;
  -webkit-animation-duration: 800ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 10; }
.animate-slide-children-left-to-right > *:nth-child(3) {
  -webkit-animation-name: slideLeftToRight;
  -webkit-animation-duration: 1200ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 9; }
.animate-slide-children-left-to-right > *:nth-child(4) {
  -webkit-animation-name: slideLeftToRight;
  -webkit-animation-duration: 1600ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 8; }
.animate-slide-children-left-to-right > *:nth-child(5) {
  -webkit-animation-name: slideLeftToRight;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 7; }
.animate-slide-children-left-to-right > *:nth-child(6) {
  -webkit-animation-name: slideLeftToRight;
  -webkit-animation-duration: 2400ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 6; }
.animate-slide-children-left-to-right > *:nth-child(7) {
  -webkit-animation-name: slideLeftToRight;
  -webkit-animation-duration: 2800ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 5; }
.animate-slide-children-left-to-right > *:nth-child(8) {
  -webkit-animation-name: slideLeftToRight;
  -webkit-animation-duration: 3200ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 4; }
.animate-slide-children-left-to-right > *:nth-child(9) {
  -webkit-animation-name: slideLeftToRight;
  -webkit-animation-duration: 3600ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 3; }
.animate-slide-children-left-to-right > *:nth-child(10) {
  -webkit-animation-name: slideLeftToRight;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 2; }
.animate-slide-children-left-to-right > *:nth-child(11) {
  -webkit-animation-name: slideLeftToRight;
  -webkit-animation-duration: 4400ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 1; }
.animate-slide-children-left-to-right > *:nth-child(12) {
  -webkit-animation-name: slideLeftToRight;
  -webkit-animation-duration: 4800ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 0; }

.animate-slide-children-right-to-left > *:nth-child(1) {
  -webkit-animation-name: slideRightToLeft;
  -webkit-animation-duration: 400ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 11; }
.animate-slide-children-right-to-left > *:nth-child(2) {
  -webkit-animation-name: slideRightToLeft;
  -webkit-animation-duration: 800ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 10; }
.animate-slide-children-right-to-left > *:nth-child(3) {
  -webkit-animation-name: slideRightToLeft;
  -webkit-animation-duration: 1200ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 9; }
.animate-slide-children-right-to-left > *:nth-child(4) {
  -webkit-animation-name: slideRightToLeft;
  -webkit-animation-duration: 1600ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 8; }
.animate-slide-children-right-to-left > *:nth-child(5) {
  -webkit-animation-name: slideRightToLeft;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 7; }
.animate-slide-children-right-to-left > *:nth-child(6) {
  -webkit-animation-name: slideRightToLeft;
  -webkit-animation-duration: 2400ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 6; }
.animate-slide-children-right-to-left > *:nth-child(7) {
  -webkit-animation-name: slideRightToLeft;
  -webkit-animation-duration: 2800ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 5; }
.animate-slide-children-right-to-left > *:nth-child(8) {
  -webkit-animation-name: slideRightToLeft;
  -webkit-animation-duration: 3200ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 4; }
.animate-slide-children-right-to-left > *:nth-child(9) {
  -webkit-animation-name: slideRightToLeft;
  -webkit-animation-duration: 3600ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 3; }
.animate-slide-children-right-to-left > *:nth-child(10) {
  -webkit-animation-name: slideRightToLeft;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 2; }
.animate-slide-children-right-to-left > *:nth-child(11) {
  -webkit-animation-name: slideRightToLeft;
  -webkit-animation-duration: 4400ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 1; }
.animate-slide-children-right-to-left > *:nth-child(12) {
  -webkit-animation-name: slideRightToLeft;
  -webkit-animation-duration: 4800ms;
  -webkit-animation-fill-mode: forwards;
  z-index: 0; }

@-webkit-keyframes slideLeftToRight {
  from {
    -webkit-transform: translateX(-20%); }

  to {
    -webkit-transform: translateX(0%); } }
@-webkit-keyframes slideRightToLeft {
  from {
    -webkit-transform: translateX(20%); }

  to {
    -webkit-transform: translateX(0%); } }
@-webkit-keyframes slideTopToBottom {
  from {
    -webkit-transform: translateY(-100%); }

  to {
    -webkit-transform: translateY(0%); } }
@-webkit-keyframes slideMenuSlidingRight {
  from {
    opacity: 0;
    left: -20%; }

  to {
    opacity: 1;
    left: 0; } }
@-webkit-keyframes slideMenuSlidingLeft {
  from {
    opacity: 1;
    left: 0; }

  to {
    opacity: 0;
    left: -30%;
    z-index: -1; } }
.highlight {
  color: #ecf0f1;
  font-family: "Source Code Pro";
  font-weight: 300; }

.highlight .gl {
  color: #dee5e7; }

.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #6c8b9f;
  font-style: italic; }

.highlight .cp {
  color: #b2fd6d;
  font-weight: bold;
  font-style: italic; }

.highlight .err {
  color: #fefeec;
  background-color: #cc0000; }

.highlight .gr {
  color: #fefeec;
  background-color: #cc0000; }

.highlight .o, .highlight .ow {
  color: #ecf0f1; }

.highlight .p, .highlight .pi {
  color: #4df4ff; }

.highlight .gd {
  color: #cc0000; }

.highlight .gi {
  color: #b2fd6d; }

.highlight .ge {
  font-style: italic; }

.highlight .gs {
  font-weight: bold; }

.highlight .gt {
  color: #dee5e7;
  background-color: #4e5d62; }

.highlight .kc {
  color: #f696db;
  font-weight: bold; }

.highlight .kn {
  color: #ffb000;
  font-weight: bold; }

.highlight .kp {
  color: #ffb000;
  font-weight: bold; }

.highlight .kr {
  color: #ffb000;
  font-weight: bold; }

.highlight .gh {
  color: #ffb000;
  font-weight: bold; }

.highlight .gu {
  color: #ffb000;
  font-weight: bold; }

.highlight .kt {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .no {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .nc {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .nd {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .nn {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .bp {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .ne {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .nl {
  color: #ffb000;
  font-weight: bold; }

.highlight .nt {
  color: #ffb000;
  font-weight: bold; }

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #f696db;
  font-weight: bold; }

.highlight .ld {
  color: #f696db;
  font-weight: bold; }

.highlight .ss {
  color: #f696db;
  font-weight: bold; }

.highlight .s, .highlight .sb, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .s1 {
  color: #ef7820; }

.highlight .se {
  color: #4df4ff;
  font-weight: bold; }

.highlight .sc {
  color: #4df4ff;
  font-weight: bold; }

.highlight .si {
  color: #4df4ff;
  font-weight: bold; }

.highlight .ni {
  color: #999999;
  font-weight: bold; }

.highlight .w {
  color: #BBBBBB; }

.highlight .nf {
  color: #a8e1fe; }

.highlight .py {
  color: #a8e1fe; }

.highlight .na {
  color: #a8e1fe; }

.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
  color: #2a80b9; }

.container {
  margin: 0 auto;
  position: relative;
  z-index: 1000;
  padding: .5em; }
  .container:after {
    content: "";
    display: block;
    clear: both; }

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
  float: left;
  vertical-align: top;
  padding: .5em; }

.span1 {
  transition: all 0.3s ease;
  width: calc(100%/12 * 1);
  width: -webkit-calc(100%/12 * 1);
  width: -moz-calc(100%/12 * 1); }
  @media all and (max-width: 600px) {
    .span1 {
      transition: all 0.3s ease;
      width: 100%; } }

.span2 {
  transition: all 0.3s ease;
  width: calc(100%/12 * 2);
  width: -webkit-calc(100%/12 * 2);
  width: -moz-calc(100%/12 * 2); }
  @media all and (max-width: 600px) {
    .span2 {
      transition: all 0.3s ease;
      width: 100%; } }

.span3 {
  transition: all 0.3s ease;
  width: calc(100%/12 * 3);
  width: -webkit-calc(100%/12 * 3);
  width: -moz-calc(100%/12 * 3); }
  @media all and (max-width: 600px) {
    .span3 {
      transition: all 0.3s ease;
      width: 100%; } }

.span4 {
  transition: all 0.3s ease;
  width: calc(100%/12 * 4);
  width: -webkit-calc(100%/12 * 4);
  width: -moz-calc(100%/12 * 4); }
  @media all and (max-width: 600px) {
    .span4 {
      transition: all 0.3s ease;
      width: 100%; } }

.span5 {
  transition: all 0.3s ease;
  width: calc(100%/12 * 5);
  width: -webkit-calc(100%/12 * 5);
  width: -moz-calc(100%/12 * 5); }
  @media all and (max-width: 600px) {
    .span5 {
      transition: all 0.3s ease;
      width: 100%; } }

.span6 {
  transition: all 0.3s ease;
  width: calc(100%/12 * 6);
  width: -webkit-calc(100%/12 * 6);
  width: -moz-calc(100%/12 * 6); }
  @media all and (max-width: 600px) {
    .span6 {
      transition: all 0.3s ease;
      width: 100%; } }

.span7 {
  transition: all 0.3s ease;
  width: calc(100%/12 * 7);
  width: -webkit-calc(100%/12 * 7);
  width: -moz-calc(100%/12 * 7); }
  @media all and (max-width: 600px) {
    .span7 {
      transition: all 0.3s ease;
      width: 100%; } }

.span8 {
  transition: all 0.3s ease;
  width: calc(100%/12 * 8);
  width: -webkit-calc(100%/12 * 8);
  width: -moz-calc(100%/12 * 8); }
  @media all and (max-width: 600px) {
    .span8 {
      transition: all 0.3s ease;
      width: 100%; } }

.span9 {
  transition: all 0.3s ease;
  width: calc(100%/12 * 9);
  width: -webkit-calc(100%/12 * 9);
  width: -moz-calc(100%/12 * 9); }
  @media all and (max-width: 600px) {
    .span9 {
      transition: all 0.3s ease;
      width: 100%; } }

.span10 {
  transition: all 0.3s ease;
  width: calc(100%/12 * 10);
  width: -webkit-calc(100%/12 * 10);
  width: -moz-calc(100%/12 * 10); }
  @media all and (max-width: 600px) {
    .span10 {
      transition: all 0.3s ease;
      width: 100%; } }

.span11 {
  transition: all 0.3s ease;
  width: calc(100%/12 * 11);
  width: -webkit-calc(100%/12 * 11);
  width: -moz-calc(100%/12 * 11); }
  @media all and (max-width: 600px) {
    .span11 {
      transition: all 0.3s ease;
      width: 100%; } }

.span12 {
  transition: all 0.3s ease;
  width: calc(100%/12 * 12);
  width: -webkit-calc(100%/12 * 12);
  width: -moz-calc(100%/12 * 12); }
  @media all and (max-width: 600px) {
    .span12 {
      transition: all 0.3s ease;
      width: 100%; } }

.column1, .column2, .column3, .column4, .column5, .column6, .column7, .column8, .column9, .column10, .column11, .column12 {
  margin: 0 auto;
  box-sizing: border-box; }
  .column1 > div, .column2 > div, .column3 > div, .column4 > div, .column5 > div, .column6 > div, .column7 > div, .column8 > div, .column9 > div, .column10 > div, .column11 > div, .column12 > div {
    margin: 0;
    padding: 1em;
    float: left; }
  .column1:after, .column2:after, .column3:after, .column4:after, .column5:after, .column6:after, .column7:after, .column8:after, .column9:after, .column10:after, .column11:after, .column12:after {
    content: "";
    display: block;
    clear: both; }

.column1 > div {
  width: calc(100% / 1);
  width: -webkit-calc(100% / 1);
  width: -moz-calc(100% / 1);
  transition: all 0.3s ease; }
  @media all and (max-width: 600px) {
    .column1 > div {
      transition: all 0.3s ease;
      width: 100%; } }

.column2 > div {
  width: calc(100% / 2);
  width: -webkit-calc(100% / 2);
  width: -moz-calc(100% / 2);
  transition: all 0.3s ease; }
  @media all and (max-width: 600px) {
    .column2 > div {
      transition: all 0.3s ease;
      width: 100%; } }

.column3 > div {
  width: calc(100% / 3);
  width: -webkit-calc(100% / 3);
  width: -moz-calc(100% / 3);
  transition: all 0.3s ease; }
  @media all and (max-width: 600px) {
    .column3 > div {
      transition: all 0.3s ease;
      width: 100%; } }

.column4 > div {
  width: calc(100% / 4);
  width: -webkit-calc(100% / 4);
  width: -moz-calc(100% / 4);
  transition: all 0.3s ease; }
  @media all and (max-width: 600px) {
    .column4 > div {
      transition: all 0.3s ease;
      width: 100%; } }

.column5 > div {
  width: calc(100% / 5);
  width: -webkit-calc(100% / 5);
  width: -moz-calc(100% / 5);
  transition: all 0.3s ease; }
  @media all and (max-width: 600px) {
    .column5 > div {
      transition: all 0.3s ease;
      width: 100%; } }

.column6 > div {
  width: calc(100% / 6);
  width: -webkit-calc(100% / 6);
  width: -moz-calc(100% / 6);
  transition: all 0.3s ease; }
  @media all and (max-width: 600px) {
    .column6 > div {
      transition: all 0.3s ease;
      width: 100%; } }

.column7 > div {
  width: calc(100% / 7);
  width: -webkit-calc(100% / 7);
  width: -moz-calc(100% / 7);
  transition: all 0.3s ease; }
  @media all and (max-width: 600px) {
    .column7 > div {
      transition: all 0.3s ease;
      width: 100%; } }

.column8 > div {
  width: calc(100% / 8);
  width: -webkit-calc(100% / 8);
  width: -moz-calc(100% / 8);
  transition: all 0.3s ease; }
  @media all and (max-width: 600px) {
    .column8 > div {
      transition: all 0.3s ease;
      width: 100%; } }

.column9 > div {
  width: calc(100% / 9);
  width: -webkit-calc(100% / 9);
  width: -moz-calc(100% / 9);
  transition: all 0.3s ease; }
  @media all and (max-width: 600px) {
    .column9 > div {
      transition: all 0.3s ease;
      width: 100%; } }

.column10 > div {
  width: calc(100% / 10);
  width: -webkit-calc(100% / 10);
  width: -moz-calc(100% / 10);
  transition: all 0.3s ease; }
  @media all and (max-width: 600px) {
    .column10 > div {
      transition: all 0.3s ease;
      width: 100%; } }

.column11 > div {
  width: calc(100% / 11);
  width: -webkit-calc(100% / 11);
  width: -moz-calc(100% / 11);
  transition: all 0.3s ease; }
  @media all and (max-width: 600px) {
    .column11 > div {
      transition: all 0.3s ease;
      width: 100%; } }

.column12 > div {
  width: calc(100% / 12);
  width: -webkit-calc(100% / 12);
  width: -moz-calc(100% / 12);
  transition: all 0.3s ease; }
  @media all and (max-width: 600px) {
    .column12 > div {
      transition: all 0.3s ease;
      width: 100%; } }

.shift1 {
  width: calc(100% - (100%/12 * 1)*2);
  width: -moz-calc(100% - (100%/12 * 1)*2);
  width: -webkit-calc(100% - (100%/12 * 1)*2);
  transition: all .3s ease; }
  @media all and (max-width: 1100px) {
    .shift1 {
      transition: all .3s ease;
      width: 100%; } }

.shift2 {
  width: calc(100% - (100%/12 * 2)*2);
  width: -moz-calc(100% - (100%/12 * 2)*2);
  width: -webkit-calc(100% - (100%/12 * 2)*2);
  transition: all .3s ease; }
  @media all and (max-width: 1100px) {
    .shift2 {
      transition: all .3s ease;
      width: 100%; } }

.shift3 {
  width: calc(100% - (100%/12 * 3)*2);
  width: -moz-calc(100% - (100%/12 * 3)*2);
  width: -webkit-calc(100% - (100%/12 * 3)*2);
  transition: all .3s ease; }
  @media all and (max-width: 1100px) {
    .shift3 {
      transition: all .3s ease;
      width: 100%; } }

.shift4 {
  width: calc(100% - (100%/12 * 4)*2);
  width: -moz-calc(100% - (100%/12 * 4)*2);
  width: -webkit-calc(100% - (100%/12 * 4)*2);
  transition: all .3s ease; }
  @media all and (max-width: 1100px) {
    .shift4 {
      transition: all .3s ease;
      width: 100%; } }

.shift5 {
  width: calc(100% - (100%/12 * 5)*2);
  width: -moz-calc(100% - (100%/12 * 5)*2);
  width: -webkit-calc(100% - (100%/12 * 5)*2);
  transition: all .3s ease; }
  @media all and (max-width: 1100px) {
    .shift5 {
      transition: all .3s ease;
      width: 100%; } }

.mobile-only {
  display: none; }
  @media all and (max-width: 600px) {
    .mobile-only {
      display: inherit;
      transition: all 0.3s ease; } }

.desktop-only {
  display: inherit; }
  @media all and (max-width: 600px) {
    .desktop-only {
      display: none; } }

.dropdown, .dropdown-small, .dropdown-medium, .dropdown-success, .dropdown-warning, .dropdown-info, .dropdown-default, .button, .button-medium, .button-small, .button-success, .button-warning, .button-info, .button-default, .badge, .badge-success, .badge-warning, .badge-info, .badge-default {
  position: relative;
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  width: 100%;
  outline: none;
  white-space: nowrap;
  line-height: 1em; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.large {
  font-size: 80px;
  line-height: 80px; }

.big {
  font-size: 40px;
  line-height: 54px; }

.medium {
  font-size: 30px;
  line-height: 40px; }

.small {
  font-size: 14px;
  line-height: 22px; }

.tight {
  letter-spacing: -.1em; }

.spread {
  letter-spacing: .3em; }

.upper {
  text-transform: uppercase; }

.lower {
  text-transform: lowercase; }

.lighten-text {
  color: white; }

.darken-text {
  color: #a3b6bb; }

.lighten-background {
  background-color: #3d566e; }

.darken-background {
  background-color: #2b3c4e; }

p {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 28px; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Ubuntu";
  font-weight: 300; }

.vertical-padding {
  padding-top: 20px;
  padding-bottom: 20px; }

.vertical-padding-medium {
  padding-top: 60px;
  padding-bottom: 60px; }

.vertical-padding-large {
  padding-top: 100px;
  padding-bottom: 100px; }

.padding-bottom {
  padding-bottom: 20px; }

.padding-bottom-medium {
  padding-bottom: 60px; }

.padding-bottom-large {
  padding-bottom: 100px; }

.padding-top {
  padding-top: 20px; }

.padding-top-medium {
  padding-top: 60px; }

.padding-top-large {
  padding-top: 100px; }

.vertical-margin {
  margin-top: 20px;
  margin-bottom: 20px; }

.vertical-margin-medium {
  margin-top: 60px;
  margin-bottom: 60px; }

.vertical-margin-large {
  margin-top: 100px;
  margin-bottom: 100px; }

.margin-bottom {
  margin-bottom: 20px; }

.margin-bottom-medium {
  margin-bottom: 60px; }

.margin-bottom-large {
  margin-bottom: 100px; }

.margin-top {
  margin-top: #34495e; }

.margin-top-medium {
  margin-bottom: #9cdbff; }

.margin-top-large {
  margin-bottom: white; }

.no-horizontal-padding {
  padding-right: 0;
  padding-left: 0; }

.horizontal-padding {
  padding-right: #34495e;
  padding-left: #34495e; }

.horizontal-padding-medium {
  padding-right: #9cdbff;
  padding-left: #9cdbff; }

.horizontal-padding-large {
  padding-right: white;
  padding-left: white; }

.background-success {
  background-color: #2a80b9; }

.background-warning {
  background-color: #ef7820; }

.background-info {
  background-color: #08bf55; }

.background-default {
  background-color: #4f6f8f; }

.success {
  color: #2a80b9; }

.warning {
  color: #ef7820; }

.info {
  color: #08bf55; }

.default {
  color: #4f6f8f; }

.background-color {
  background-color: #34495e; }

.controls-text-color {
  color: #ecf0f1; }

.code {
  font-family: "Source Code Pro"; }

.round-borders {
  border-radius: 2px; }

.dropdown-menu, .dropdown-menu-success, .dropdown-menu-warning, .dropdown-menu-info, .dropdown-menu-default {
  position: relative;
  cursor: pointer;
  display: inline-block; }
  .dropdown-menu > a:after, .dropdown-menu-success > a:after, .dropdown-menu-warning > a:after, .dropdown-menu-info > a:after, .dropdown-menu-default > a:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: -1.3em;
    top: 50%;
    margin-top: -0.43333em;
    border-top: 0.43333em solid transparent;
    border-bottom: 0.43333em solid transparent; }
  .dropdown-menu ul, .dropdown-menu-success ul, .dropdown-menu-warning ul, .dropdown-menu-info ul, .dropdown-menu-default ul {
    opacity: 0;
    list-style: none;
    position: absolute;
    top: -50%;
    z-index: -1;
    display: none;
    left: -50%;
    white-space: nowrap;
    border-radius: 2px;
    padding: 0 0 20px 0;
    color: #ecf0f1; }
    @media all and (max-width: 600px) {
      .dropdown-menu ul, .dropdown-menu-success ul, .dropdown-menu-warning ul, .dropdown-menu-info ul, .dropdown-menu-default ul {
        position: static;
        width: 100%;
        text-align: center; } }
    .dropdown-menu ul li, .dropdown-menu-success ul li, .dropdown-menu-warning ul li, .dropdown-menu-info ul li, .dropdown-menu-default ul li {
      margin: 0;
      display: block;
      cursor: pointer;
      padding: 1em 4em;
      transition: all .2s ease; }
      .dropdown-menu ul li:hover, .dropdown-menu-success ul li:hover, .dropdown-menu-warning ul li:hover, .dropdown-menu-info ul li:hover, .dropdown-menu-default ul li:hover {
        transition: all .2s ease; }
      .dropdown-menu ul li:active, .dropdown-menu-success ul li:active, .dropdown-menu-warning ul li:active, .dropdown-menu-info ul li:active, .dropdown-menu-default ul li:active {
        transition: all .2s ease; }
      .dropdown-menu ul li a:hover, .dropdown-menu-success ul li a:hover, .dropdown-menu-warning ul li a:hover, .dropdown-menu-info ul li a:hover, .dropdown-menu-default ul li a:hover {
        border: 0; }
      .dropdown-menu ul li i, .dropdown-menu-success ul li i, .dropdown-menu-warning ul li i, .dropdown-menu-info ul li i, .dropdown-menu-default ul li i {
        padding: 0 20px 0 0; }

.dropdown-menu.active ul, .active.dropdown-menu-success ul, .active.dropdown-menu-warning ul, .active.dropdown-menu-info ul, .active.dropdown-menu-default ul {
  display: block;
  -webkit-animation-name: showMenu;
  -webkit-animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
  z-index: 100; }

@-webkit-keyframes showMenu {
  from {
    -webkit-transform: translateY(20%);
    opacity: 0; }

  to {
    transform: translateY(0);
    opacity: 1; } }
.dropdown-menu-success > a:after {
  border-left: 0.43333em solid #6bb0de; }
.dropdown-menu-success ul {
  background-color: #2a80b9;
  border-bottom: 4px solid #2572a4; }
  .dropdown-menu-success ul li:hover {
    background-color: #2572a4; }
  .dropdown-menu-success ul li:active {
    background-color: #21638f; }
  .dropdown-menu-success ul li.item-header {
    background-color: #226998;
    pointer-events: none; }

.dropdown-menu-warning > a:after {
  border-left: 0.43333em solid #f6b27f; }
.dropdown-menu-warning ul {
  background-color: #ef7820;
  border-bottom: 4px solid #e56b10; }
  .dropdown-menu-warning ul li:hover {
    background-color: #e56b10; }
  .dropdown-menu-warning ul li:active {
    background-color: #cd600f; }
  .dropdown-menu-warning ul li.item-header {
    background-color: #d7640f;
    pointer-events: none; }

.dropdown-menu-info > a:after {
  border-left: 0.43333em solid #36f787; }
.dropdown-menu-info ul {
  background-color: #08bf55;
  border-bottom: 4px solid #07a74a; }
  .dropdown-menu-info ul li:hover {
    background-color: #07a74a; }
  .dropdown-menu-info ul li:active {
    background-color: #068e3f; }
  .dropdown-menu-info ul li.item-header {
    background-color: #069844;
    pointer-events: none; }

.dropdown-menu-default > a:after {
  border-left: 0.43333em solid #88a2bd; }
.dropdown-menu-default ul {
  background-color: #4f6f8f;
  border-bottom: 4px solid #46627f; }
  .dropdown-menu-default ul li:hover {
    background-color: #46627f; }
  .dropdown-menu-default ul li:active {
    background-color: #3d566e; }
  .dropdown-menu-default ul li.item-header {
    background-color: #415b75;
    pointer-events: none; }

.dropdown, .dropdown-small, .dropdown-medium, .dropdown-success, .dropdown-warning, .dropdown-info, .dropdown-default {
  font-size: 20px; }
  .dropdown div, .dropdown-small div, .dropdown-medium div, .dropdown-success div, .dropdown-warning div, .dropdown-info div, .dropdown-default div {
    padding: 16.66667px 120px 16.66667px 16.66667px; }
  .dropdown ul, .dropdown-small ul, .dropdown-medium ul, .dropdown-success ul, .dropdown-warning ul, .dropdown-info ul, .dropdown-default ul {
    width: 100%;
    padding: .5em 0 .5em 0;
    position: absolute;
    border-radius: 0 0 2px 2px;
    top: 100%;
    margin: 0;
    z-index: 2;
    opacity: 0;
    list-style: none;
    white-space: nowrap;
    pointer-events: none; }
    .dropdown ul a, .dropdown-small ul a, .dropdown-medium ul a, .dropdown-success ul a, .dropdown-warning ul a, .dropdown-info ul a, .dropdown-default ul a {
      text-decoration: none;
      color: inherit;
      pointer-events: none; }
    .dropdown ul li, .dropdown-small ul li, .dropdown-medium ul li, .dropdown-success ul li, .dropdown-warning ul li, .dropdown-info ul li, .dropdown-default ul li {
      padding: .5em 2em .5em 2em;
      width: 100%;
      margin: 0;
      cursor: pointer;
      transition: all .2s ease; }
      .dropdown ul li:hover, .dropdown-small ul li:hover, .dropdown-medium ul li:hover, .dropdown-success ul li:hover, .dropdown-warning ul li:hover, .dropdown-info ul li:hover, .dropdown-default ul li:hover {
        transition: all .2s ease; }
      .dropdown ul li:active, .dropdown-small ul li:active, .dropdown-medium ul li:active, .dropdown-success ul li:active, .dropdown-warning ul li:active, .dropdown-info ul li:active, .dropdown-default ul li:active {
        transition: all .2s ease; }
      .dropdown ul li i, .dropdown-small ul li i, .dropdown-medium ul li i, .dropdown-success ul li i, .dropdown-warning ul li i, .dropdown-info ul li i, .dropdown-default ul li i {
        padding: 0 20px 0 0; }
  .dropdown:after, .dropdown-small:after, .dropdown-medium:after, .dropdown-success:after, .dropdown-warning:after, .dropdown-info:after, .dropdown-default:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -.4em;
    border-top: .4em solid transparent;
    border-bottom: .4em solid transparent;
    border-left: 0.4em solid #ecf0f1;
    pointer-events: none; }
  .dropdown:before, .dropdown-small:before, .dropdown-medium:before, .dropdown-success:before, .dropdown-warning:before, .dropdown-info:before, .dropdown-default:before {
    transition: all .3s ease;
    content: "";
    height: 100%;
    position: absolute;
    border-radius: 2px;
    width: 2.6em;
    right: 0;
    top: 0;
    pointer-events: none; }
  .dropdown:hover:before, .dropdown-small:hover:before, .dropdown-medium:hover:before, .dropdown-success:hover:before, .dropdown-warning:hover:before, .dropdown-info:hover:before, .dropdown-default:hover:before {
    transition: all .3s ease; }

.dropdown-small {
  font-size: 13.33333px; }
  .dropdown-small div {
    padding: 4px 100px 4px 10px; }

.dropdown-medium {
  font-size: 16.66667px; }
  .dropdown-medium div {
    padding: 6.66667px 80px 6.66667px 6.66667px; }

.dropdown.active, .active.dropdown-small, .active.dropdown-medium, .active.dropdown-success, .active.dropdown-warning, .active.dropdown-info, .active.dropdown-default {
  border-radius: 2px 2px 0 0; }
  .dropdown.active:after, .active.dropdown-small:after, .active.dropdown-medium:after, .active.dropdown-success:after, .active.dropdown-warning:after, .active.dropdown-info:after, .active.dropdown-default:after {
    margin-top: -.2em;
    border-left: .4em solid transparent;
    border-right: .4em solid transparent;
    border-top: 0.4em solid #ecf0f1; }
  .dropdown.active ul, .active.dropdown-small ul, .active.dropdown-medium ul, .active.dropdown-success ul, .active.dropdown-warning ul, .active.dropdown-info ul, .active.dropdown-default ul {
    opacity: 1;
    pointer-events: auto; }

.dropdown-success {
  border-bottom: 4px solid #2572a4;
  background-color: #2a80b9;
  color: #ecf0f1; }
  .dropdown-success ul {
    background-color: #2a80b9;
    border-bottom: 4px solid #2572a4; }
    .dropdown-success ul li:hover {
      background-color: #2572a4; }
    .dropdown-success ul li:active {
      background-color: #21638f; }
  .dropdown-success:before {
    background-color: #2f8ece; }
  .dropdown-success:hover:before {
    background-color: #429ad4; }

.dropdown-warning {
  border-bottom: 4px solid #e56b10;
  background-color: #ef7820;
  color: #ecf0f1; }
  .dropdown-warning ul {
    background-color: #ef7820;
    border-bottom: 4px solid #e56b10; }
    .dropdown-warning ul li:hover {
      background-color: #e56b10; }
    .dropdown-warning ul li:active {
      background-color: #cd600f; }
  .dropdown-warning:before {
    background-color: #f18638; }
  .dropdown-warning:hover:before {
    background-color: #f29550; }

.dropdown-info {
  border-bottom: 4px solid #07a74a;
  background-color: #08bf55;
  color: #ecf0f1; }
  .dropdown-info ul {
    background-color: #08bf55;
    border-bottom: 4px solid #07a74a; }
    .dropdown-info ul li:hover {
      background-color: #07a74a; }
    .dropdown-info ul li:active {
      background-color: #068e3f; }
  .dropdown-info:before {
    background-color: #09d760; }
  .dropdown-info:hover:before {
    background-color: #0af06b; }

.dropdown-default {
  border-bottom: 4px solid #46627f;
  background-color: #4f6f8f;
  color: #ecf0f1; }
  .dropdown-default ul {
    background-color: #4f6f8f;
    border-bottom: 4px solid #46627f; }
    .dropdown-default ul li:hover {
      background-color: #46627f; }
    .dropdown-default ul li:active {
      background-color: #3d566e; }
  .dropdown-default:before {
    background-color: #587ca0; }
  .dropdown-default:hover:before {
    background-color: #6789ab; }

.button, .button-medium, .button-small, .button-success, .button-warning, .button-info, .button-default {
  text-transform: uppercase;
  transition: all .3s ease;
  font-size: 20px;
  padding: 16.66667px 16.66667px 16.66667px 16.66667px; }
  .button:hover, .button-medium:hover, .button-small:hover, .button-success:hover, .button-warning:hover, .button-info:hover, .button-default:hover {
    transition: all .3s ease; }
  .button:active, .button-medium:active, .button-small:active, .button-success:active, .button-warning:active, .button-info:active, .button-default:active {
    top: 2px; }
  .button i, .button-medium i, .button-small i, .button-success i, .button-warning i, .button-info i, .button-default i {
    margin: 0 20px;
    font-size: 1.5em; }

.button-medium {
  font-size: 16.66667px;
  padding: 10px; }

.button-small {
  font-size: 11.76471px;
  padding: 6.66667px; }

.button-success {
  border-bottom: 4px solid #2572a4;
  background-color: #2a80b9;
  color: #ecf0f1; }
  .button-success:hover {
    background-color: #2572a4; }

.button-warning {
  border-bottom: 4px solid #e56b10;
  background-color: #ef7820;
  color: #ecf0f1; }
  .button-warning:hover {
    background-color: #e56b10; }

.button-info {
  border-bottom: 4px solid #07a74a;
  background-color: #08bf55;
  color: #ecf0f1; }
  .button-info:hover {
    background-color: #07a74a; }

.button-default {
  border-bottom: 4px solid #46627f;
  background-color: #4f6f8f;
  color: #ecf0f1; }
  .button-default:hover {
    background-color: #46627f; }

.button-group > div {
  padding-right: 0;
  padding-left: 0; }
.button-group > div > button {
  border-radius: 0; }
.button-group > div:first-child button {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px; }
.button-group > div:last-child button {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }

.text-field {
  border: 0;
  border-radius: 2px;
  outline: none;
  color: #2b3c4e;
  background-color: #4f6f8f;
  border-bottom: 4px solid #2f4154;
  transition: all .3s ease;
  text-align: center;
  font-size: 20px;
  padding: 16.66667px 16.66667px 16.66667px 16.66667px; }
  .text-field:focus {
    transition: all .3s ease;
    background-color: #587ca0; }

::-webkit-input-placeholder {
  color: #34495e;
  text-align: center; }

::-moz-placeholder {
  text-align: center;
  color: #34495e; }

:-ms-input-placeholder {
  text-align: center;
  color: #34495e; }

input:-moz-placeholder {
  text-align: center;
  color: #34495e; }

.badge, .badge-success, .badge-warning, .badge-info, .badge-default {
  cursor: auto;
  font-size: 1em;
  padding: .1em .4em; }

.badge-success {
  background-color: #2f8ece;
  color: #ecf0f1; }

.badge-warning {
  background-color: #f18638;
  color: #ecf0f1; }

.badge-info {
  background-color: #09d760;
  color: #ecf0f1; }

.badge-default {
  background-color: #587ca0;
  color: #ecf0f1; }

input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
  transition: all .2s ease; }

input[type="checkbox"]:checked + label:before {
  transition: all .2s ease;
  background-color: #34495e; }

label {
  cursor: pointer;
  position: relative;
  top: .5em;
  left: 50px; }
  label:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #4f6f8f;
    border: 10px solid #4f6f8f;
    border-radius: 2px;
    top: -10px;
    left: -60px; }
  label:hover:before {
    background-color: #4f6f8f;
    border: 10px solid #7795b4; }

.f-span1 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 1 - .5em);
  width: -moz-calc(100%/12 * 1 - .5em);
  width: -webkit-calc(100%/12 * 1 - .5em);
  transition: all .3s ease; }
  @media all and (max-width: 600px) {
    .f-span1 {
      transition: all .3s ease;
      width: 100%; } }

.f-span2 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 2 - .5em);
  width: -moz-calc(100%/12 * 2 - .5em);
  width: -webkit-calc(100%/12 * 2 - .5em);
  transition: all .3s ease; }
  @media all and (max-width: 600px) {
    .f-span2 {
      transition: all .3s ease;
      width: 100%; } }

.f-span3 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 3 - .5em);
  width: -moz-calc(100%/12 * 3 - .5em);
  width: -webkit-calc(100%/12 * 3 - .5em);
  transition: all .3s ease; }
  @media all and (max-width: 600px) {
    .f-span3 {
      transition: all .3s ease;
      width: 100%; } }

.f-span4 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 4 - .5em);
  width: -moz-calc(100%/12 * 4 - .5em);
  width: -webkit-calc(100%/12 * 4 - .5em);
  transition: all .3s ease; }
  @media all and (max-width: 600px) {
    .f-span4 {
      transition: all .3s ease;
      width: 100%; } }

.f-span5 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 5 - .5em);
  width: -moz-calc(100%/12 * 5 - .5em);
  width: -webkit-calc(100%/12 * 5 - .5em);
  transition: all .3s ease; }
  @media all and (max-width: 600px) {
    .f-span5 {
      transition: all .3s ease;
      width: 100%; } }

.f-span6 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 6 - .5em);
  width: -moz-calc(100%/12 * 6 - .5em);
  width: -webkit-calc(100%/12 * 6 - .5em);
  transition: all .3s ease; }
  @media all and (max-width: 600px) {
    .f-span6 {
      transition: all .3s ease;
      width: 100%; } }

.f-span7 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 7 - .5em);
  width: -moz-calc(100%/12 * 7 - .5em);
  width: -webkit-calc(100%/12 * 7 - .5em);
  transition: all .3s ease; }
  @media all and (max-width: 600px) {
    .f-span7 {
      transition: all .3s ease;
      width: 100%; } }

.f-span8 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 8 - .5em);
  width: -moz-calc(100%/12 * 8 - .5em);
  width: -webkit-calc(100%/12 * 8 - .5em);
  transition: all .3s ease; }
  @media all and (max-width: 600px) {
    .f-span8 {
      transition: all .3s ease;
      width: 100%; } }

.f-span9 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 9 - .5em);
  width: -moz-calc(100%/12 * 9 - .5em);
  width: -webkit-calc(100%/12 * 9 - .5em);
  transition: all .3s ease; }
  @media all and (max-width: 600px) {
    .f-span9 {
      transition: all .3s ease;
      width: 100%; } }

.f-span10 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 10 - .5em);
  width: -moz-calc(100%/12 * 10 - .5em);
  width: -webkit-calc(100%/12 * 10 - .5em);
  transition: all .3s ease; }
  @media all and (max-width: 600px) {
    .f-span10 {
      transition: all .3s ease;
      width: 100%; } }

.f-span11 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 11 - .5em);
  width: -moz-calc(100%/12 * 11 - .5em);
  width: -webkit-calc(100%/12 * 11 - .5em);
  transition: all .3s ease; }
  @media all and (max-width: 600px) {
    .f-span11 {
      transition: all .3s ease;
      width: 100%; } }

.f-span12 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 12 - .5em);
  width: -moz-calc(100%/12 * 12 - .5em);
  width: -webkit-calc(100%/12 * 12 - .5em);
  transition: all .3s ease; }
  @media all and (max-width: 600px) {
    .f-span12 {
      transition: all .3s ease;
      width: 100%; } }

.menu, .menu-vertical, .menu-sliding {
  list-style: none;
  transition: all .3s ease;
  position: relative; }
  .menu li, .menu-vertical li, .menu-sliding li {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 0 40px;
    transition: all .3s ease; }
    @media all and (max-width: 600px) {
      .menu li, .menu-vertical li, .menu-sliding li {
        transition: all .3s ease;
        display: block;
        margin: 40px 0; } }
    .menu li a, .menu-vertical li a, .menu-sliding li a {
      text-decoration: none;
      color: inherit; }
      .menu li a:hover, .menu-vertical li a:hover, .menu-sliding li a:hover {
        border-bottom: 2px solid; }

.menu-vertical li, .menu-sliding li {
  display: block;
  margin: 0; }

.icon-menu {
  position: fixed;
  top: 0;
  left: 0;
  list-style: none;
  height: 100%;
  background-color: #222f3d;
  overflow-y: scroll; }
  .icon-menu li {
    cursor: pointer;
    color: #ecf0f1;
    padding: 20px 40px;
    font-size: 60px;
    border-bottom: 1px solid #2b3c4e;
    transition: all .3s ease; }
    .icon-menu li:hover {
      transition: all .3s ease;
      background-color: #2b3c4e; }
    .icon-menu li a {
      text-decoration: none;
      color: inherit; }

.menu-sliding {
  position: fixed;
  top: 0;
  opacity: 0;
  left: -100%;
  display: none;
  z-index: 100001;
  font-size: inherit !important;
  height: 100%;
  width: 350px;
  padding: 2em 0 2em 0;
  background-color: rgba(52, 73, 94, 0.8); }
  .menu-sliding li {
    padding: 1em 80px; }
    .menu-sliding li:hover {
      background-color: rgba(119, 149, 180, 0.3); }
    .menu-sliding li:active {
      background-color: rgba(103, 137, 171, 0.3); }
    .menu-sliding li i {
      padding: 0 1em 0 0;
      font-size: 1.5em; }

.menu-sliding.active {
  display: block;
  -webkit-animation-name: slideMenuSlidingRight;
  -webkit-animation-duration: .2s;
  -webkit-animation-fill-mode: forwards; }

.menu-sliding.inactive {
  -webkit-animation-name: slideMenuSlidingLeft;
  -webkit-animation-duration: .4s;
  -webkit-animation-fill-mode: forwards; }

li.item-success {
  border-left: 8px solid #2a80b9; }

li.item-warning {
  border-left: 8px solid #ef7820; }

li.item-info {
  border-left: 8px solid #08bf55; }

li.item-default {
  border-left: 8px solid #4f6f8f; }

li.item-no-hover {
  cursor: default; }
  li.item-no-hover:hover, li.item-no-hover:active {
    background-color: transparent; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body,
html {
  background: #34495e;
  font-family: "Ubuntu";
  font-weight: 300;
  color: #ecf0f1;
  font-size: 20px; }

img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%; }

#overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10000;
  background-color: #10161c;
  transition: all 2s ease; }

#overlay.active {
  transition: all 2s ease;
  display: block;
  opacity: .9; }
