@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@font-face {
  font-family: 'Fira-Regular';
  src: url("http://img.teamed.io/fonts/fira/FiraSansOT-Regular.otf") format("opentype"); }
@font-face {
  font-family: 'Fira-Light';
  src: url("http://img.teamed.io/fonts/fira/FiraSansOT-Light.otf") format("opentype"); }
@font-face {
  font-family: 'Aller-Regular';
  src: url("http://img.twentytags.com/fonts/Aller/Aller-Rg.ttf") format("truetype"); }
@font-face {
  font-family: 'Aller-Light';
  src: url("http://img.twentytags.com/fonts/Aller/Aller-Lt.ttf") format("truetype"); }
.highlight {
  color: #ecf0f1;
  font-family: "Source Code Pro";
  font-weight: 300; }

.highlight .gl {
  color: #dee5e7; }

.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #6c8b9f;
  font-style: italic; }

.highlight .cp {
  color: #b2fd6d;
  font-weight: bold;
  font-style: italic; }

.highlight .err {
  color: #fefeec;
  background-color: #cc0000; }

.highlight .gr {
  color: #fefeec;
  background-color: #cc0000; }

.highlight .k, .highlight .kd, .highlight .kv {
  color: #f6dd62;
  font-weight: bold; }

.highlight .o, .highlight .ow {
  color: #ecf0f1; }

.highlight .p, .highlight .pi {
  color: #4df4ff; }

.highlight .gd {
  color: #cc0000; }

.highlight .gi {
  color: #b2fd6d; }

.highlight .ge {
  font-style: italic; }

.highlight .gs {
  font-weight: bold; }

.highlight .gt {
  color: #dee5e7;
  background-color: #4e5d62; }

.highlight .kc {
  color: #f696db;
  font-weight: bold; }

.highlight .kn {
  color: #ffb000;
  font-weight: bold; }

.highlight .kp {
  color: #ffb000;
  font-weight: bold; }

.highlight .kr {
  color: #ffb000;
  font-weight: bold; }

.highlight .gh {
  color: #ffb000;
  font-weight: bold; }

.highlight .gu {
  color: #ffb000;
  font-weight: bold; }

.highlight .kt {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .no {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .nc {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .nd {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .nn {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .bp {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .ne {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .nl {
  color: #ffb000;
  font-weight: bold; }

.highlight .nt {
  color: #ffb000;
  font-weight: bold; }

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #f696db;
  font-weight: bold; }

.highlight .ld {
  color: #f696db;
  font-weight: bold; }

.highlight .ss {
  color: #f696db;
  font-weight: bold; }

.highlight .s, .highlight .sb, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .s1 {
  color: #ef7820; }

.highlight .se {
  color: #4df4ff;
  font-weight: bold; }

.highlight .sc {
  color: #4df4ff;
  font-weight: bold; }

.highlight .si {
  color: #4df4ff;
  font-weight: bold; }

.highlight .nb {
  font-weight: bold; }

.highlight .ni {
  color: #999999;
  font-weight: bold; }

.highlight .w {
  color: #BBBBBB; }

.highlight .nf {
  color: #a8e1fe; }

.highlight .py {
  color: #a8e1fe; }

.highlight .na {
  color: #a8e1fe; }

.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
  color: #2a80b9; }

.container:after {
  content: "";
  display: block;
  clear: both; }

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
  display: inline-block;
  vertical-align: top;
  padding: .5em; }

.span1 {
  width: calc(100%/12 * 1); }

.span2 {
  width: calc(100%/12 * 2); }

.span3 {
  width: calc(100%/12 * 3); }

.span4 {
  width: calc(100%/12 * 4); }

.span5 {
  width: calc(100%/12 * 5); }

.span6 {
  width: calc(100%/12 * 6); }

.span7 {
  width: calc(100%/12 * 7); }

.span8 {
  width: calc(100%/12 * 8); }

.span9 {
  width: calc(100%/12 * 9); }

.span10 {
  width: calc(100%/12 * 10); }

.span11 {
  width: calc(100%/12 * 11); }

.span12 {
  width: calc(100%/12 * 12); }

.vertical-padding {
  padding-top: 1em;
  padding-bottom: 1em; }

.horizontal-padding {
  padding-right: 1em;
  padding-left: 1em; }

.two-column {
  white-space: nowrap;
  width: 70%;
  margin: 0 auto; }
  .two-column > div {
    margin: 0;
    padding: 1em;
    white-space: normal;
    width: 50%;
    float: left; }
  .two-column:after {
    content: "";
    display: block;
    clear: both; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.v-middle {
  vertical-align: baseline; }

.large {
  font-size: 100px; }

.big {
  font-size: 40px; }

.medium {
  font-size: 30px; }

.standard {
  font-size: 20px; }

.small {
  font-size: 28.57143px; }

.tight {
  letter-spacing: -.05em; }

.spread {
  letter-spacing: .05em; }

.upper {
  text-transform: uppercase; }

.lighter {
  color: white; }

.darker {
  color: #a3b6bb; }

.bolder {
  font-weight: 600; }

p {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 26px; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Ubuntu";
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px; }
  h1 img,
  h2 img,
  h3 img,
  h4 img,
  h5 img {
    max-width: 40px;
    margin-right: 20px; }

.lighten-background {
  background-color: #3d566e; }

.control-medium, .control-small, .control-auto-width, .dropdown, .dropdown-success, .dropdown-warning, .dropdown-info, .dropdown-default, .button, .button-success, .button-warning, .button-info, .button-default {
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  width: 100%;
  outline: none;
  white-space: nowrap; }

.control-medium {
  font-size: 0.76923em !important; }

.control-small {
  font-size: 0.58824em !important; }

.control-auto-width {
  width: auto; }

.dropdown div, .dropdown-success div, .dropdown-warning div, .dropdown-info div, .dropdown-default div {
  width: 100%;
  padding: 1em 5em 1em 1em;
  font-size: 1em;
  font-family: "Ubuntu";
  display: inline-block; }
.dropdown ul, .dropdown-success ul, .dropdown-warning ul, .dropdown-info ul, .dropdown-default ul {
  width: 100%;
  position: absolute;
  border-radius: 0 0 10px 10px;
  top: 100%;
  margin: 0;
  z-index: 2;
  opacity: 0;
  list-style: none;
  padding: 1em 0 1em 0;
  white-space: nowrap;
  pointer-events: none; }
  .dropdown ul a, .dropdown-success ul a, .dropdown-warning ul a, .dropdown-info ul a, .dropdown-default ul a {
    text-decoration: none;
    color: inherit;
    pointer-events: none; }
  .dropdown ul li, .dropdown-success ul li, .dropdown-warning ul li, .dropdown-info ul li, .dropdown-default ul li {
    padding: .5em 2em .5em 2em;
    cursor: pointer;
    transition: all .2s ease; }
    .dropdown ul li:hover, .dropdown-success ul li:hover, .dropdown-warning ul li:hover, .dropdown-info ul li:hover, .dropdown-default ul li:hover {
      transition: all .2s ease;
      background-color: #88a2bd; }
    .dropdown ul li:active, .dropdown-success ul li:active, .dropdown-warning ul li:active, .dropdown-info ul li:active, .dropdown-default ul li:active {
      transition: all .2s ease;
      background-color: #a8bccf; }
    .dropdown ul li i, .dropdown-success ul li i, .dropdown-warning ul li i, .dropdown-info ul li i, .dropdown-default ul li i {
      padding: 0 1em 0 0; }
.dropdown:after, .dropdown-success:after, .dropdown-warning:after, .dropdown-info:after, .dropdown-default:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 1.3em;
  top: 50%;
  margin-top: -0.43333em;
  border-top: 0.43333em solid transparent;
  border-bottom: 0.43333em solid transparent;
  border-left: 0.43333em solid #ecf0f1;
  pointer-events: none; }
.dropdown:before, .dropdown-success:before, .dropdown-warning:before, .dropdown-info:before, .dropdown-default:before {
  transition: all .3s ease;
  content: "";
  width: 3.25em;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  right: 0;
  top: 0;
  pointer-events: none; }
.dropdown:hover:before, .dropdown-success:hover:before, .dropdown-warning:hover:before, .dropdown-info:hover:before, .dropdown-default:hover:before {
  transition: all .3s ease; }

.dropdown.active, .active.dropdown-success, .active.dropdown-warning, .active.dropdown-info, .active.dropdown-default {
  border-radius: 10px 10px 0 0; }
  .dropdown.active:after, .active.dropdown-success:after, .active.dropdown-warning:after, .active.dropdown-info:after, .active.dropdown-default:after {
    margin-top: -0.325em;
    border-left: 0.43333em solid transparent;
    border-right: 0.43333em solid transparent;
    border-top: 0.43333em solid #ecf0f1; }
  .dropdown.active ul, .active.dropdown-success ul, .active.dropdown-warning ul, .active.dropdown-info ul, .active.dropdown-default ul {
    opacity: 1;
    pointer-events: auto; }

.dropdown-success {
  background-color: #2a80b9;
  border-bottom: 4px solid #1c557b;
  color: #ecf0f1; }
  .dropdown-success ul {
    background-color: #2a80b9;
    border-bottom: 4px solid #1c557b; }
    .dropdown-success ul li:hover {
      background-color: #2f8ece; }
    .dropdown-success ul li:active {
      background-color: #429ad4; }
  .dropdown-success:before {
    background-color: #2f8ece; }
  .dropdown-success:hover:before {
    background-color: #429ad4; }

.dropdown-warning {
  background-color: #ef7820;
  border-bottom: 4px solid #b5550d;
  color: #ecf0f1; }
  .dropdown-warning ul {
    background-color: #ef7820;
    border-bottom: 4px solid #b5550d; }
    .dropdown-warning ul li:hover {
      background-color: #f18638; }
    .dropdown-warning ul li:active {
      background-color: #f29550; }
  .dropdown-warning:before {
    background-color: #f18638; }
  .dropdown-warning:hover:before {
    background-color: #f29550; }

.dropdown-info {
  background-color: #08bf55;
  border-bottom: 4px solid #057634;
  color: #ecf0f1; }
  .dropdown-info ul {
    background-color: #08bf55;
    border-bottom: 4px solid #057634; }
    .dropdown-info ul li:hover {
      background-color: #09d760; }
    .dropdown-info ul li:active {
      background-color: #0af06b; }
  .dropdown-info:before {
    background-color: #09d760; }
  .dropdown-info:hover:before {
    background-color: #0af06b; }

.dropdown-default {
  background-color: #4f6f8f;
  border-bottom: 4px solid #34495e;
  color: #ecf0f1; }
  .dropdown-default ul {
    background-color: #4f6f8f;
    border-bottom: 4px solid #34495e; }
    .dropdown-default ul li:hover {
      background-color: #587ca0; }
    .dropdown-default ul li:active {
      background-color: #6789ab; }
  .dropdown-default:before {
    background-color: #587ca0; }
  .dropdown-default:hover:before {
    background-color: #6789ab; }

.button, .button-success, .button-warning, .button-info, .button-default {
  font-size: 1em;
  padding: 1em;
  text-transform: uppercase;
  transition: all .3s ease; }
  .button:hover, .button-success:hover, .button-warning:hover, .button-info:hover, .button-default:hover {
    transition: all .3s ease; }
  .button:active, .button-success:active, .button-warning:active, .button-info:active, .button-default:active {
    top: 2px; }
  .button i, .button-success i, .button-warning i, .button-info i, .button-default i {
    margin: 0 20px;
    font-size: 1.5em; }

.button-success {
  background-color: #2a80b9;
  border-bottom: 4px solid #1c557b;
  color: #ecf0f1; }
  .button-success:hover {
    background-color: #2f8ece; }

.button-warning {
  background-color: #ef7820;
  border-bottom: 4px solid #b5550d;
  color: #ecf0f1; }
  .button-warning:hover {
    background-color: #f18638; }

.button-info {
  background-color: #08bf55;
  border-bottom: 4px solid #057634;
  color: #ecf0f1; }
  .button-info:hover {
    background-color: #09d760; }

.button-default {
  background-color: #4f6f8f;
  border-bottom: 4px solid #34495e;
  color: #ecf0f1; }
  .button-default:hover {
    background-color: #587ca0; }

.button-group {
  white-space: nowrap;
  width: 100%; }
  .button-group > button {
    width: auto;
    border-radius: 0; }
  .button-group > button:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; }
  .button-group > button:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }

.text-field {
  border: 0;
  padding: 1em;
  font-size: inherit;
  border-radius: 10px;
  outline: none;
  color: #ecf0f1;
  background-color: white; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: #34495e;
  font-family: "Ubuntu";
  font-weight: 300;
  color: #ecf0f1;
  font-size: 20px; }

.brand {
  font-family: "Source Code Pro";
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: -.1em; }

img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%; }

.menu {
  list-style: none;
  font-family: "Ubuntu";
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px; }
  .menu li {
    letter-spacing: inherit;
    display: inline-block;
    margin: 0 40px; }
    .menu li a {
      transition: all .3s ease;
      text-decoration: none;
      color: inherit; }
      .menu li a:hover {
        transition: all .3s ease;
        border-bottom: 2px solid; }

.separator-circles, .separator-squares {
  margin: 100px auto 100px auto;
  border: 10px solid #4f6f8f;
  border-radius: 50%;
  width: 20px;
  position: relative; }
  .separator-circles:before, .separator-squares:before {
    content: "";
    position: absolute;
    left: -40px;
    top: -20px;
    border: 10px solid #6789ab;
    border-radius: 50%; }
  .separator-circles:after, .separator-squares:after {
    content: "";
    position: absolute;
    left: 20px;
    border: 10px solid #6789ab;
    border-radius: 50%; }

.separator-squares {
  border-radius: 0; }
  .separator-squares:before {
    border-radius: 0; }
  .separator-squares:after {
    border-radius: 0; }
