@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,cyrillic);
@font-face {
  font-family: 'Fira-Regular';
  src: url("http://img.teamed.io/fonts/fira/FiraSansOT-Regular.otf") format("opentype"); }
@font-face {
  font-family: 'Fira-Light';
  src: url("http://img.teamed.io/fonts/fira/FiraSansOT-Light.otf") format("opentype"); }
@font-face {
  font-family: 'Aller-Regular';
  src: url("http://img.twentytags.com/fonts/Aller/Aller-Rg.ttf") format("truetype"); }
@font-face {
  font-family: 'Aller-Light';
  src: url("http://img.twentytags.com/fonts/Aller/Aller-Lt.ttf") format("truetype"); }
@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello.ttf") format("opentype"); }
/*$scheme: dark;
$controls-depth: 4px;
$controls-text-color: #ecf0f1;
$controls-font-size: 1em;
$controls-icon-size: 1.3em;
$controls-padding: 1em;
$controls-border-radius: 15px;
$background-color: #34495e;
$success: #2a80b9;
$warning: #ef7820;
$info: #08bf55;*/
.highlight {
  color: gray;
  font-family: "Source Code Pro";
  font-weight: 300; }

.highlight .gl {
  color: #dee5e7; }

.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #6c8b9f;
  font-style: italic; }

.highlight .cp {
  color: #b2fd6d;
  font-weight: bold;
  font-style: italic; }

.highlight .err {
  color: #fefeec;
  background-color: #cc0000; }

.highlight .gr {
  color: #fefeec;
  background-color: #cc0000; }

.highlight .o, .highlight .ow {
  color: gray; }

.highlight .p, .highlight .pi {
  color: #4df4ff; }

.highlight .gd {
  color: #cc0000; }

.highlight .gi {
  color: #b2fd6d; }

.highlight .ge {
  font-style: italic; }

.highlight .gs {
  font-weight: bold; }

.highlight .gt {
  color: #dee5e7;
  background-color: #4e5d62; }

.highlight .kc {
  color: #f696db;
  font-weight: bold; }

.highlight .kn {
  color: #ffb000;
  font-weight: bold; }

.highlight .kp {
  color: #ffb000;
  font-weight: bold; }

.highlight .kr {
  color: #ffb000;
  font-weight: bold; }

.highlight .gh {
  color: #ffb000;
  font-weight: bold; }

.highlight .gu {
  color: #ffb000;
  font-weight: bold; }

.highlight .kt {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .no {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .nc {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .nd {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .nn {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .bp {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .ne {
  color: #b2fd6d;
  font-weight: bold; }

.highlight .nl {
  color: #ffb000;
  font-weight: bold; }

.highlight .nt {
  color: #ffb000;
  font-weight: bold; }

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #f696db;
  font-weight: bold; }

.highlight .ld {
  color: #f696db;
  font-weight: bold; }

.highlight .ss {
  color: #f696db;
  font-weight: bold; }

.highlight .s, .highlight .sb, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .s1 {
  color: #ed8836; }

.highlight .se {
  color: #4df4ff;
  font-weight: bold; }

.highlight .sc {
  color: #4df4ff;
  font-weight: bold; }

.highlight .si {
  color: #4df4ff;
  font-weight: bold; }

.highlight .ni {
  color: #999999;
  font-weight: bold; }

.highlight .w {
  color: #BBBBBB; }

.highlight .nf {
  color: #a8e1fe; }

.highlight .py {
  color: #a8e1fe; }

.highlight .na {
  color: #a8e1fe; }

.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
  color: #2a80b9; }

.container:after {
  content: "";
  display: block;
  clear: both; }

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
  float: left;
  vertical-align: top;
  padding: .5em; }

.span1 {
  width: calc(100%/12 * 1); }

.span2 {
  width: calc(100%/12 * 2); }

.span3 {
  width: calc(100%/12 * 3); }

.span4 {
  width: calc(100%/12 * 4); }

.span5 {
  width: calc(100%/12 * 5); }

.span6 {
  width: calc(100%/12 * 6); }

.span7 {
  width: calc(100%/12 * 7); }

.span8 {
  width: calc(100%/12 * 8); }

.span9 {
  width: calc(100%/12 * 9); }

.span10 {
  width: calc(100%/12 * 10); }

.span11 {
  width: calc(100%/12 * 11); }

.span12 {
  width: calc(100%/12 * 12); }

.two-column, .three-column, .four-column, .five-column, .six-column {
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box; }
  .two-column > div, .three-column > div, .four-column > div, .five-column > div, .six-column > div {
    margin: 0;
    padding: 1em;
    float: left; }
  .two-column:after, .three-column:after, .four-column:after, .five-column:after, .six-column:after {
    content: "";
    display: block;
    clear: both; }

.two-column > div {
  width: 50%; }

.three-column > div {
  width: calc(100% / 3); }

.four-column > div {
  width: calc(100% / 4); }

.five-column > div {
  width: calc(100% / 5); }

.six-column {
  width: 90%; }
  .six-column > div {
    width: calc(100% / 6); }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.large {
  font-size: 100px;
  line-height: 80px; }

.big {
  font-size: 40px;
  line-height: 44px; }

.medium {
  font-size: 30px;
  line-height: 34px; }

.standard {
  font-size: 20px;
  line-height: 22px; }

.small {
  font-size: 14px; }

.tight {
  letter-spacing: -.05em; }

.spread {
  letter-spacing: .05em; }

.upper {
  text-transform: uppercase; }

.lighter {
  color: #bfbfbf; }

.darker {
  color: #404040; }

.bolder {
  font-weight: 600; }

p {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 26px; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Ubuntu";
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px; }
  h1 img,
  h2 img,
  h3 img,
  h4 img,
  h5 img {
    max-width: 40px;
    margin-right: 20px; }

.lighten-background {
  background-color: #f2f2f2; }

.vertical-padding {
  padding-top: 1em;
  padding-bottom: 1em; }

.vertical-padding-large {
  padding-top: 5em;
  padding-bottom: 5em; }

.padding-bottom {
  padding-bottom: 1em; }

.padding-bottom-large {
  padding-bottom: 5em; }

.padding-top {
  padding-top: 1em; }

.padding-top-large {
  padding-top: 5em; }

.margin-bottom {
  margin-bottom: 1em; }

.margin-top {
  margin-top: 1em; }

.margin-bottom-large {
  margin-bottom: 5em; }

.margin-top-large {
  margin-top: 5em; }

.horizontal-padding {
  padding-right: 1em;
  padding-left: 1em; }

.background-success {
  background-color: #2a80b9; }

.background-warning {
  background-color: #ed8836; }

.background-info {
  background-color: #703e9d; }

.background-default {
  background-color: #bfbfbf; }

.success {
  color: #2a80b9; }

.warning {
  color: #ed8836; }

.info {
  color: #703e9d; }

.default {
  color: #bfbfbf; }

.background-color {
  background-color: white; }

.controls-text-color {
  color: #ecf0f1; }

.code {
  font-family: "Source Code Pro"; }

.to-top {
  vertical-align: top; }

.to-bottom {
  vertical-align: bottom; }

.control-medium, .control-small, .dropdown, .dropdown-success, .dropdown-warning, .dropdown-info, .dropdown-default, .button, .button-success, .button-warning, .button-info, .button-default, .badge, .badge-success, .badge-warning, .badge-info, .badge-default {
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  width: 100%;
  outline: none;
  white-space: nowrap; }

.control-medium {
  font-size: 0.76923em !important; }

.control-small {
  font-size: 0.58824em !important;
  padding: 0.5em !important; }

.dropdown div, .dropdown-success div, .dropdown-warning div, .dropdown-info div, .dropdown-default div {
  width: 100%;
  padding: 1em 5em 1em 1em;
  font-size: 1em;
  font-family: "Ubuntu";
  display: inline-block; }
.dropdown ul, .dropdown-success ul, .dropdown-warning ul, .dropdown-info ul, .dropdown-default ul {
  width: 100%;
  position: absolute;
  border-radius: 0 0 5px 5px;
  top: 100%;
  margin: 0;
  z-index: 2;
  opacity: 0;
  list-style: none;
  padding: 1em 0 1em 0;
  white-space: nowrap;
  pointer-events: none; }
  .dropdown ul a, .dropdown-success ul a, .dropdown-warning ul a, .dropdown-info ul a, .dropdown-default ul a {
    text-decoration: none;
    color: inherit;
    pointer-events: none; }
  .dropdown ul li, .dropdown-success ul li, .dropdown-warning ul li, .dropdown-info ul li, .dropdown-default ul li {
    padding: .5em 2em .5em 2em;
    cursor: pointer;
    transition: all .2s ease; }
    .dropdown ul li:hover, .dropdown-success ul li:hover, .dropdown-warning ul li:hover, .dropdown-info ul li:hover, .dropdown-default ul li:hover {
      transition: all .2s ease;
      background-color: white; }
    .dropdown ul li:active, .dropdown-success ul li:active, .dropdown-warning ul li:active, .dropdown-info ul li:active, .dropdown-default ul li:active {
      transition: all .2s ease;
      background-color: white; }
    .dropdown ul li i, .dropdown-success ul li i, .dropdown-warning ul li i, .dropdown-info ul li i, .dropdown-default ul li i {
      padding: 0 1em 0 0; }
.dropdown:after, .dropdown-success:after, .dropdown-warning:after, .dropdown-info:after, .dropdown-default:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 1.3em;
  top: 50%;
  margin-top: -0.43333em;
  border-top: 0.43333em solid transparent;
  border-bottom: 0.43333em solid transparent;
  border-left: 0.43333em solid #ecf0f1;
  pointer-events: none; }
.dropdown:before, .dropdown-success:before, .dropdown-warning:before, .dropdown-info:before, .dropdown-default:before {
  transition: all .3s ease;
  content: "";
  width: 3.25em;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  right: 0;
  top: 0;
  pointer-events: none; }
.dropdown:hover:before, .dropdown-success:hover:before, .dropdown-warning:hover:before, .dropdown-info:hover:before, .dropdown-default:hover:before {
  transition: all .3s ease; }

.dropdown.active, .active.dropdown-success, .active.dropdown-warning, .active.dropdown-info, .active.dropdown-default {
  border-radius: 5px 5px 0 0; }
  .dropdown.active:after, .active.dropdown-success:after, .active.dropdown-warning:after, .active.dropdown-info:after, .active.dropdown-default:after {
    margin-top: -0.325em;
    border-left: 0.43333em solid transparent;
    border-right: 0.43333em solid transparent;
    border-top: 0.43333em solid #ecf0f1; }
  .dropdown.active ul, .active.dropdown-success ul, .active.dropdown-warning ul, .active.dropdown-info ul, .active.dropdown-default ul {
    opacity: 1;
    pointer-events: auto; }

.dropdown-success {
  background-color: #2a80b9;
  border-bottom: 3px solid #1c557b;
  color: #ecf0f1; }
  .dropdown-success ul {
    background-color: #2a80b9;
    border-bottom: 3px solid #1c557b; }
    .dropdown-success ul li:hover {
      background-color: #2f8ece; }
    .dropdown-success ul li:active {
      background-color: #429ad4; }
  .dropdown-success:before {
    background-color: #2f8ece; }
  .dropdown-success:hover:before {
    background-color: #429ad4; }

.dropdown-warning {
  background-color: #ed8836;
  border-bottom: 3px solid #c56212;
  color: #ecf0f1; }
  .dropdown-warning ul {
    background-color: #ed8836;
    border-bottom: 3px solid #c56212; }
    .dropdown-warning ul li:hover {
      background-color: #ef964d; }
    .dropdown-warning ul li:active {
      background-color: #f1a465; }
  .dropdown-warning:before {
    background-color: #ef964d; }
  .dropdown-warning:hover:before {
    background-color: #f1a465; }

.dropdown-info {
  background-color: #703e9d;
  border-bottom: 3px solid #492866;
  color: #ecf0f1; }
  .dropdown-info ul {
    background-color: #703e9d;
    border-bottom: 3px solid #492866; }
    .dropdown-info ul li:hover {
      background-color: #7d45af; }
    .dropdown-info ul li:active {
      background-color: #8a53bb; }
  .dropdown-info:before {
    background-color: #7d45af; }
  .dropdown-info:hover:before {
    background-color: #8a53bb; }

.dropdown-default {
  background-color: #bfbfbf;
  border-bottom: 3px solid #999999;
  color: #ecf0f1; }
  .dropdown-default ul {
    background-color: #bfbfbf;
    border-bottom: 3px solid #999999; }
    .dropdown-default ul li:hover {
      background-color: #cccccc; }
    .dropdown-default ul li:active {
      background-color: #d9d9d9; }
  .dropdown-default:before {
    background-color: #cccccc; }
  .dropdown-default:hover:before {
    background-color: #d9d9d9; }

.button, .button-success, .button-warning, .button-info, .button-default {
  font-size: 1em;
  padding: 1em;
  text-transform: uppercase;
  transition: all .3s ease; }
  .button:hover, .button-success:hover, .button-warning:hover, .button-info:hover, .button-default:hover {
    transition: all .3s ease; }
  .button:active, .button-success:active, .button-warning:active, .button-info:active, .button-default:active {
    top: 2px; }
  .button i, .button-success i, .button-warning i, .button-info i, .button-default i {
    margin: 0 20px;
    font-size: 1.5em; }

.button-success {
  background-color: #2a80b9;
  border-bottom: 3px solid #1c557b;
  color: #ecf0f1; }
  .button-success:hover {
    background-color: #2f8ece; }

.button-warning {
  background-color: #ed8836;
  border-bottom: 3px solid #c56212;
  color: #ecf0f1; }
  .button-warning:hover {
    background-color: #ef964d; }

.button-info {
  background-color: #703e9d;
  border-bottom: 3px solid #492866;
  color: #ecf0f1; }
  .button-info:hover {
    background-color: #7d45af; }

.button-default {
  background-color: #bfbfbf;
  border-bottom: 3px solid #999999;
  color: #ecf0f1; }
  .button-default:hover {
    background-color: #cccccc; }

.button-group {
  white-space: nowrap;
  width: 100%; }
  .button-group > button {
    width: auto;
    border-radius: 0; }
  .button-group > button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  .button-group > button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }

.text-field {
  border: 0;
  padding: 1em;
  font-size: inherit;
  border-radius: 5px;
  outline: none;
  color: #8c8c8c;
  background-color: #bfbfbf;
  border-bottom: 3px solid #919191;
  transition: all .3s ease;
  text-align: center; }
  .text-field:focus {
    transition: all .3s ease;
    background-color: #cccccc; }

::-webkit-input-placeholder {
  color: white;
  text-align: center; }

::-moz-placeholder {
  text-align: center;
  color: white; }

:-ms-input-placeholder {
  text-align: center;
  color: white; }

input:-moz-placeholder {
  text-align: center;
  color: white; }

.badge, .badge-success, .badge-warning, .badge-info, .badge-default {
  cursor: auto;
  font-size: 1em;
  padding: 1em;
  text-transform: uppercase;
  transition: all .3s ease; }

.badge-success {
  background-color: #429ad4;
  color: #ecf0f1; }

.badge-warning {
  background-color: #f1a465;
  color: #ecf0f1; }

.badge-info {
  background-color: #8a53bb;
  color: #ecf0f1; }

.badge-default {
  background-color: #d9d9d9;
  color: #ecf0f1; }

input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
  transition: all .2s ease; }

input[type="checkbox"]:checked + label:before {
  transition: all .2s ease;
  background-color: white; }

label {
  cursor: pointer;
  position: relative;
  top: .5em;
  left: 50px; }
  label:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #bfbfbf;
    border: 10px solid #bfbfbf;
    border-radius: 5px;
    top: -10px;
    left: -60px; }
  label:hover:before {
    background-color: #bfbfbf;
    border: 10px solid #e6e6e6; }

.f-span1 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 1 - .5em); }

.f-span2 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 2 - .5em); }

.f-span3 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 3 - .5em); }

.f-span4 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 4 - .5em); }

.f-span5 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 5 - .5em); }

.f-span6 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 6 - .5em); }

.f-span7 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 7 - .5em); }

.f-span8 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 8 - .5em); }

.f-span9 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 9 - .5em); }

.f-span10 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 10 - .5em); }

.f-span11 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 11 - .5em); }

.f-span12 {
  margin: 0 .5em .5em 0;
  width: calc(100%/12 * 12 - .5em); }

.menu, .menu-vertical {
  list-style: none;
  font-family: "Ubuntu";
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px; }
  .menu li, .menu-vertical li {
    letter-spacing: inherit;
    display: inline-block;
    margin: 0 40px; }
    .menu li a, .menu-vertical li a {
      transition: all .3s ease;
      text-decoration: none;
      color: inherit; }
      .menu li a:hover, .menu-vertical li a:hover {
        transition: all .3s ease;
        border-bottom: 2px solid; }

.menu-vertical li {
  display: block;
  margin: 0; }

.icon-menu {
  position: fixed;
  top: 0;
  left: 0;
  list-style: none;
  height: 100%;
  background-color: #e6e6e6;
  overflow-y: scroll; }
  .icon-menu li {
    cursor: pointer;
    color: gray;
    padding: 20px 40px;
    font-size: 60px;
    border-bottom: 1px solid #f2f2f2;
    transition: all .3s ease; }
    .icon-menu li:hover {
      transition: all .3s ease;
      background-color: #f2f2f2; }
    .icon-menu li a {
      text-decoration: none;
      color: inherit; }

.separator-circles, .separator-squares {
  margin: 100px auto 100px auto;
  border: 10px solid white;
  border-radius: 50%;
  width: 20px;
  position: relative; }
  .separator-circles:before, .separator-squares:before {
    content: "";
    position: absolute;
    left: -40px;
    top: -20px;
    border: 10px solid white;
    border-radius: 50%; }
  .separator-circles:after, .separator-squares:after {
    content: "";
    position: absolute;
    left: 20px;
    border: 10px solid white;
    border-radius: 50%; }

.separator-squares {
  border-radius: 0; }
  .separator-squares:before {
    border-radius: 0; }
  .separator-squares:after {
    border-radius: 0; }

.separator-arrow-down {
  position: relative; }
  .separator-arrow-down:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -40px;
    width: 80px;
    height: 80px;
    background-color: inherit;
    -webkit-transform: rotate(45deg);
    z-index: 1; }

.separator-diagonal {
  position: relative; }
  .separator-diagonal:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 40px;
    background-color: inherit;
    -webkit-transform: rotate(-1deg);
    z-index: 1; }
  .separator-diagonal:before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 80px;
    background-color: inherit;
    -webkit-transform: rotate(-1deg);
    z-index: 1; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: white;
  font-family: "Ubuntu";
  font-weight: 300;
  color: gray;
  font-size: 20px; }

.brand {
  font-family: "Source Code Pro";
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: -.1em; }

img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .9;
  z-index: 100;
  background-color: #cccccc; }

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px dashed; }
