$fonts: (
  main: (
    url 'http://fonts.googleapis.com/css?family=Source+Code+Pro:100,200,300,400,500,600,700,800',
    family 'Source Code Pro',
    weight 300
  ),
  header: (
    url 'http://fonts.googleapis.com/css?family=Open+Sans:600&subset=latin,cyrillic',
    family 'Open Sans',
    weight 600
  ),
  code: (
    url 'http://fonts.googleapis.com/css?family=Source+Code+Pro',
    family 'Source Code Pro',
    weight 600
  )
);

$colors: (
  success red,
  warning darken(blue, 10),
  green green,
  info darken(yellow, 20),
  light darken(#fff, 5),
  default gray,
  dark darken(gray, 20)
);

$base-font-size: 20px;
$switch-tablet: "1100px";
$switch-mobile: "400px";
$switch-wide: "1300px";
$background-color: #fff;
$controls-depth: 1px;
$controls-text-color: #fbfbfb;
$controls-border-radius: 8px;
$controls-default-color: darken($background-color, 25);
$text-color: lighten(#4e4e4e, 20);
$inputs-background: darken($background-color, 7);

