.container.center.padding-around-large
  .logo.dark.upper this example was styled with Guppy.io
  overview
  %a.darken-dark.hover-default{href: 'https://github.com/maxbugaenko/guppy'} example project at Github
.container.shift2.center.font-code.medium.upper
  .span3.background-green.light.padding-around-medium.hover-background-dark
    span3
  .span3.background-info.light.padding-around-medium.hover-background-warning
    span3
  .span3.background-dark.light.padding-around-medium.hover-background-green
    span3
  .span3.background-warning.light.padding-around-medium.hover-background-info
    span3
%br
.container.shift2.center.font-code.medium.upper.tiny-padding-if-mobile.tiny-padding-if-tablet
  .button-group.font-code
    %div
      %button.button-default.big.padding-around-base.font-code
        %i.fa.fa-play-circle-o
        %span.tiny-if-mobile play
    %div
      %button.button-dark.big.padding-around-base.font-code
        %i.fa.fa-pause
        %span.tiny-if-mobile pause
.container.center.padding-around-large.shift2
  this simple website has got styles. however we did not create any styles at all. we just used Guppy

