.modal-window {
  position: fixed;
  top: 15%;
  left: 25%;
  width: 50%;
  z-index: 100000001;
  display: none;
  border-radius: $controls-border-radius;

  @media all and (max-width: $switch-orientation-point-medium) {
    top: 15%;
    left: 10%;
    width: 80%;
  }

  @media all and (max-width: $switch-orientation-point-mobile) {
    top: 0;
    left: 0;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.modal-window.active {
  display: block;
  -webkit-animation-name: slideTopToBottom;
  -webkit-animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
}