@import "variables";
@import "responsive";
@import "general";
@import "typography";
@import "paddings";
@import "layouts";
@import "colors";
@import "buttons";
@import "form";

.shadowed {
  text-shadow: 0px 1px 0px lightgray;
}

.light {
  color: lookup($colors, 'light')
}

.no-markers {
  list-style: decimal;
}