@import "mixins";
@import "responsive";
@import "general";
@import "typography";
@import "paddings";
@import "layouts";
@import "colors";
@import "controls";
@import "buttons";


.logo {

}

.shadowed {
  text-shadow: 0px 1px 0px lightgray;
}

h1 {
  color: yml('colors/red')
}

.code {
  font-family: yml('fonts/code-font-family');
}
